body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {margin: 0;padding: 0;}
table {border-collapse: collapse;border-spacing: 0;}
fieldset, img {border: 0;}
address, caption, cite, code, dfn, em, strong, th, var {font-style: normal;font-weight: normal;}
ol, ul {list-style: none;}
caption, th {text-align: left;}
h1, h2, h3, h4, h5, h6 {font-size: 100%;font-weight: normal;}
q:before, q:after {content: '';}
abbr, acronym {border: 0;}
html {height: 100%;}
body {font: 13px/18px Tahoma,Verdana,Arial,Helvetica,sans-serif;color:#333333;height: 100%;/*background: url(img/bg.png) top left repeat;*/}
a {color: #000000;outline: none;text-decoration: underline;}
a:hover {text-decoration: none;}
p {margin: 0 0 15px;}
img {border: none;}
input {vertical-align: middle;}
.clear{clear:both;}
