.articles-item {
  display: block;
  background: none no-repeat top right;
  background-size: cover;
  height: 475px;
  margin-top: 20px;
  position: relative; }
  .articles-item:nth-of-type(odd) {
    margin-left: 20px; }
  .articles-item__data {
    position: absolute;
    top: 30px;
    left: 30px;
    font-size: 18px;
    color: #383838;
    font-family: 'Proxima Nova Rg';
    font-weight: normal;
    text-transform: uppercase;
    line-height: 24px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.5); }
    .articles-item__data span {
      border-bottom: 1px solid #4dc4dc; }
  .articles-item__content {
    position: absolute;
    left: 30px;
    max-width: 400px;
    max-height: 250px;
    overflow: hidden;
    display: block;
    bottom: 100px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.5); }
    .articles-item__content-name {
      font-size: 26px;
      color: #383838;
      font-family: 'Proxima Nova Th';
      font-weight: 800;
      font-style: normal;
      text-transform: uppercase; }
      .articles-item__content-name:hover {
        color: #383838; }
  .articles-item__detail {
    position: absolute;
    left: 30px;
    bottom: 27px; }
    .articles-item__detail-button {
      border: 3px solid #4dc4dc;
      line-height: 53px;
      font-size: 18px;
      color: #383838;
      text-transform: uppercase;
      font-family: 'Proxima Nova Lt';
      font-weight: 600;
      font-style: normal;
      padding: 0 70px;
      display: inline-block;
      background-color: rgba(255, 255, 255, 0.8); }
      .articles-item__detail-button:hover {
        text-decoration: none;
        background-color: white; }

.article-detail__banner {
  display: block;
  height: 360px;
  background: none no-repeat top right;
  background-size: cover;
  margin-bottom: 20px;
  position: relative; }
  .article-detail__banner-data {
    position: absolute;
    top: 30px;
    left: 30px;
    font-size: 18px;
    color: #383838;
    font-family: 'Proxima Nova Rg';
    font-weight: normal;
    text-transform: uppercase;
    line-height: 24px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.5); }
    .article-detail__banner-data span {
      border-bottom: 1px solid #4dc4dc; }
  .article-detail__banner-content {
    position: absolute;
    left: 30px;
    max-width: 50%;
    max-height: 250px;
    overflow: hidden;
    display: block;
    top: 100px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.5); }
    .article-detail__banner-content h1 {
      font-size: 48px;
      color: #383838;
      font-family: 'Proxima Nova Th';
      font-weight: 800;
      font-style: normal;
      text-transform: uppercase;
      padding: 0;
      margin: 0; }
      .article-detail__banner-content h1:hover {
        color: #383838; }
.article-detail__content {
  display: block;
  padding: 50px 25px;
  background-color: #ffffff;
  font-family: "Open Sans";
  font-weight: normal;
  font-size: 18px;
  color: #383838;
  margin-right: 25px; }
  .article-detail__content p {
    text-align: justify; }
  .article-detail__content img {
    max-width: 100%; }
.article-detail__lates h2 {
  display: block;
  text-align: center;
  margin-top: 10px;
  font-size: 26px;
  color: #4dc4dc;
  font-family: 'Proxima Nova Th';
  font-weight: 800;
  font-style: normal;
  text-transform: uppercase;
  border-bottom: 2px solid #4dc4dc; }

/*# sourceMappingURL=articles.css.map */
