.basket-table {
  width: 100%; }
  .basket-table tbody tr:nth-of-type(2n+1) td {
    background-color: #fafafa; }
  .basket-table__header {
    font-size: 20px;
    color: #383838;
    font-family: 'Proxima Nova Lt';
    font-weight: 600;
    font-style: normal;
    padding: 15px 10px;
    text-align: center;
    border-bottom: 1px solid #a2a2a2; }
    .basket-table__header-delete-icon {
      display: block;
      width: 26px;
      height: 26px;
      background: url(../img/basket-header.png) center center no-repeat; }
  .basket-table__body {
    font-size: 22px;
    color: #383838;
    font-family: 'Proxima Nova Rg';
    font-weight: normal;
    font-style: normal;
    padding: 15px 10px;
    text-align: center;
    border-bottom: 1px solid #a2a2a2; }
    .basket-table__body-link {
      color: #383838; }
      .basket-table__body-link:hover {
        color: #383838; }
    .basket-table__body-plusminus {
      display: flex;
      align-content: center;
      align-items: center;
      justify-content: center; }
      .basket-table__body-plusminus-box {
        text-align: center;
        border: 0 none;
        background-color: transparent; }
        .basket-table__body-plusminus-box:active, .basket-table__body-plusminus-box:focus {
          background-color: #ffffff; }
    .basket-table__body-plus {
      display: inline-block;
      width: 27px;
      height: 27px;
      background: url(../img/basket-plus.png) 0 0 no-repeat;
      cursor: pointer;
      margin-left: 10px; }
      .basket-table__body-plus:hover {
        background: url(../img/basket-plus-hover.png) 0 0 no-repeat; }
    .basket-table__body-minus {
      display: inline-block;
      width: 27px;
      height: 27px;
      background: url(../img/basket-minus.png) 0 0 no-repeat;
      cursor: pointer;
      margin-right: 10px; }
      .basket-table__body-minus:hover {
        background: url(../img/basket-minus-hover.png) 0 0 no-repeat; }
    .basket-table__body_name {
      text-align: left; }
    .basket-table__body_price .oldprice {
      display: block;
      text-decoration: line-through;
      font-size: 18px;
      color: #cccccc; }
    .basket-table__body-delete {
      display: block;
      width: 22px;
      height: 22px;
      background: url(../img/basket-del.png) center center no-repeat; }
      .basket-table__body-delete:hover {
        background: url(../img/basket-del-act.png) center center no-repeat; }
    .basket-table__body-prop-title {
      display: none; }
    .basket-table__body-price-title {
      display: none; }
  .basket-table__footer-coupon {
    vertical-align: top; }
    .basket-table__footer-coupon-area {
      display: flex;
      margin-top: 20px; }
      .basket-table__footer-coupon-area-text {
        font-size: 20px;
        color: #383838;
        font-family: 'Proxima Nova Rg';
        font-weight: normal;
        font-style: normal;
        line-height: 48px; }
      .basket-table__footer-coupon-area-inputarea {
        padding: 0 30px; }
      .basket-table__footer-coupon-area-input {
        border: 1px solid #383838;
        border-radius: 3px;
        line-height: 48px;
        padding: 0 20px;
        width: 100%;
        min-width: 250px; }
      .basket-table__footer-coupon-area-button {
        background-color: transparent;
        border: 0 none;
        line-height: 48px;
        text-decoration: underline;
        color: #9b9b9b; }
        .basket-table__footer-coupon-area-button:hover {
          text-decoration: none;
          color: #383838; }
  .basket-table__footer-total {
    vertical-align: top; }
    .basket-table__footer-total-area {
      margin-top: 10px;
      font-size: 30px;
      color: #383838;
      text-transform: uppercase;
      font-family: 'Proxima Nova Lt';
      font-weight: 600;
      font-style: normal;
      width: 350px;
      text-align: center;
      float: right; }
  .basket-table__footer-checkout {
    width: 100%;
    border: 0 none;
    background-color: #4dc4dc;
    line-height: 77px;
    padding: 0 10px;
    color: #ffffff;
    font-size: 24px;
    color: #ffffff;
    font-family: 'Proxima Nova Lt';
    font-weight: 600;
    font-style: normal;
    margin-top: 30px; }
.basket-header h1 {
  text-align: left;
  color: #383838;
  font-size: 48px;
  text-transform: none;
  font-family: 'Proxima Nova Lt';
  font-weight: 600;
  font-style: normal; }

@media (max-width: 991.99px) {
  .basket-table {
    width: 100%; }
    .basket-table__header {
      display: none; }
    .basket-table__body {
      padding: 3px;
      border-bottom: 0 none; }
      .basket-table__body-row {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        border-top: 1px solid #a2a2a2; }
      .basket-table__body_photo {
        max-width: 40%;
        flex-basis: 40%;
        order: -1; }
      .basket-table__body_name {
        text-align: left;
        width: 100%;
        flex-basis: 100%;
        text-transform: uppercase; }
      .basket-table__body_article {
        display: none; }
      .basket-table__body_size {
        width: 100%;
        flex-basis: 100%; }
        .basket-table__body_size-empty {
          display: none; }
      .basket-table__body_color {
        width: 100%;
        flex-basis: 100%; }
        .basket-table__body_color-empty {
          display: none; }
      .basket-table__body_cnt {
        max-width: 50%;
        flex-basis: 50%;
        order: -1; }
      .basket-table__body_price {
        flex-basis: 100%; }
      .basket-table__body_delete {
        order: -2;
        flex-basis: 50px; }
      .basket-table__body-prop {
        display: flex;
        padding: 5px;
        justify-content: flex-start;
        background-color: #e8e8e8; }
        .basket-table__body-prop-title {
          padding: 5px 10px;
          display: inline;
          text-transform: uppercase;
          color: #808080;
          text-align: left;
          width: 50%;
          flex-basis: 50%; }
        .basket-table__body-prop-val {
          background-color: #ffffff;
          padding: 5px 10px;
          width: 50%;
          flex-basis: 50%; }
      .basket-table__body-price {
        display: flex;
        padding: 5px 0;
        justify-content: flex-end; }
        .basket-table__body-price-title {
          display: inline;
          flex-grow: 1;
          text-align: right;
          padding-right: 20px; }
    .basket-table__footer-row {
      border-top: 1px solid #a2a2a2;
      display: flex;
      flex-wrap: wrap; }
    .basket-table__footer-coupon-area {
      display: flex;
      flex-wrap: wrap; }
      .basket-table__footer-coupon-area-text {
        flex-basis: 150px; }
      .basket-table__footer-coupon-area-inputarea {
        padding: 0 0 0 30px;
        flex-grow: 1; }
      .basket-table__footer-coupon-area-button-area {
        margin-left: 150px;
        flex-grow: 1;
        text-align: center; }
    .basket-table__footer-total {
      flex-basis: 100%; }
      .basket-table__footer-total-area {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        text-align: center;
        float: none; }
    .basket-table__footer-checkout {
      width: 100%;
      flex-basis: 100%; }
  .basket-header h1 {
    font-size: 36px; } }

/*# sourceMappingURL=basket.css.map */
