.brands-top {
  padding: 65px 0; }
  .brands-top h2 {
    display: block;
    margin: 0 auto;
    text-align: center;
    font-family: 'Proxima Nova Th';
    font-weight: 800;
    font-size: 36px;
    text-transform: uppercase;
    color: #878787; }
    .brands-top h2 span {
      padding: 0 30px;
      border-bottom: 1px solid #878787; }

.brand-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center; }

.brand-card {
  display: inline-block;
  padding: 10px 25px;
  transition: 0.3s; }
  .brand-card:hover {
    transform: scale(1.025); }
  .brand-card:first-of-type {
    padding-left: 0; }
  .brand-card:last-of-type {
    padding-right: 0; }
  .brand-card__link {
    display: inline-block; }
  .brand-card__img {
    max-width: 100%; }

/*# sourceMappingURL=brand.card.css.map */
