.catalog-pagenav {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 40px; }
  .catalog-pagenav__seealso {
    display: block; }
    .catalog-pagenav__seealso-area {
      padding: 0 20px;
      background: url(../images/arrow-bottom.png) right center no-repeat; }
    .catalog-pagenav__seealso-link {
      text-align: center;
      display: inline;
      font-size: 17px;
      color: #6f6f6f;
      border-bottom: 1px dotted #6f6f6f; }
      .catalog-pagenav__seealso-link:hover {
        border-bottom: 1px solid transparent;
        text-decoration: none;
        color: #6f6f6f; }
    .catalog-pagenav__seealso-loader {
      display: none; }
  .catalog-pagenav__pagination {
    display: block; }
  .catalog-pagenav-pagination {
    margin: 18px 0 50px 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center; }
    .catalog-pagenav-pagination__item {
      padding: 10px 15px;
      display: inline-block;
      vertical-align: middle;
      text-align: center; }
      .catalog-pagenav-pagination__item_active {
        background: url(../images/circle.png) center top no-repeat;
        width: 57px; }
      .catalog-pagenav-pagination__item-link {
        font-size: 24px;
        color: #6f6f6f; }
        .catalog-pagenav-pagination__item-link:hover {
          text-decoration: none;
          color: #383838; }
        .catalog-pagenav-pagination__item-link_active {
          color: #ffffff; }
          .catalog-pagenav-pagination__item-link_active:hover {
            color: #ffffff; }
        .catalog-pagenav-pagination__item-link_prev {
          display: inline-block;
          background: url(../images/arrow-left.png) 0 center no-repeat;
          width: 24px;
          height: 33px;
          transition: 0.3s; }
          .catalog-pagenav-pagination__item-link_prev:hover {
            transform: scale(1.05); }
        .catalog-pagenav-pagination__item-link_next {
          display: inline-block;
          background: url(../images/arrow-right.png) right center no-repeat;
          width: 25px;
          height: 33px;
          transition: 0.3s; }
          .catalog-pagenav-pagination__item-link_next:hover {
            transform: scale(1.05); }
      .catalog-pagenav-pagination__item-more {
        font-size: 24px;
        color: #6f6f6f; }

/*# sourceMappingURL=catalog.pagenav.css.map */
