.catsort-field {
  display: inline-block;
  position: relative; }
  .catsort-field__title {
    font-size: 18px;
    color: #a4a4a4;
    cursor: pointer; }
  .catsort-field__current {
    font-size: 18px;
    color: #505050;
    padding: 0 20px 0 10px;
    cursor: pointer;
    background: url(../images/arrow-bottom.png) center right no-repeat; }
  .catsort-field__popup {
    position: absolute;
    display: none;
    z-index: 10;
    left: 0;
    top: 100%;
    min-width: 100%;
    background-color: #ffffff;
    padding: 10px;
    border-top: 1px solid #7d7d7d;
    -webkit-box-shadow: 1px 1px 10px 0px rgba(172, 172, 172, 0.75);
    -moz-box-shadow: 1px 1px 10px 0px rgba(172, 172, 172, 0.75);
    box-shadow: 1px 1px 10px 0px rgba(172, 172, 172, 0.75); }
  .catsort-field__list {
    padding: 0;
    margin: 0;
    list-style: none;
    color: #717171;
    font-family: 'Proxima Nova Lt';
    font-size: 18px; }
  .catsort-field__item {
    padding: 0;
    margin: 0;
    list-style: none; }
  .catsort-field__link {
    color: #717171;
    font-family: 'Proxima Nova Cn Lt';
    font-size: 18px; }
  .catsort-field:hover .catsort-field__popup {
    display: block; }

@media (max-width: 991.99px) {
  .catsort-field {
    display: flex;
    position: relative;
    margin-right: 0;
    white-space: nowrap;
    background-color: #e8e8e8;
    padding: 6px 6px 6px 15px;
    margin-bottom: 10px;
    width: 100%; }
    .catsort-field__title {
      flex-basis: 50%;
      text-transform: uppercase; }
    .catsort-field__current {
      background-color: #ffffff;
      flex-basis: 50%;
      background-position: calc(100% - 10px) center; } }

/*# sourceMappingURL=catsort.css.map */
