input, button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.full-width-hr {
  background-color: #383838;
  height: 2px;
  border: 0 none;
  margin: 0; }
  .full-width-hr__mb25 {
    margin-bottom: 25px; }
    @media (max-width: 991.99px) {
      .full-width-hr__mb25 {
        margin-bottom: 20px; } }
  .full-width-hr__mt25 {
    margin-top: 25px; }

h1 {
  font-family: 'Proxima Nova Th';
  font-weight: 800;
  font-size: 36px;
  color: #808080;
  padding: 0;
  margin: 0 0 30px 0;
  text-transform: uppercase;
  text-align: center; }

.block-content-right {
  display: flex;
  justify-content: right; }

.pb-20 {
  padding-bottom: 20px; }

.mt35 {
  margin-top: 35px; }

.page-content {
  background-color: #f9f9f9;
  padding-bottom: 25px; }
  .page-content_white {
    background-color: #ffffff; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

@media (max-width: 991.99px) {
  h1 {
    text-align: left; } }
.social-icon {
  margin-top: 20px;
  text-align: right; }
  .social-icon ul {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: baseline; }
    .social-icon ul li {
      display: inline-block;
      margin-right: 10px; }
      .social-icon ul li a {
        display: block;
        height: 40px;
        width: 50px;
        border: 0 none;
        text-align: center; }
        .social-icon ul li a:hover i {
          color: #00c2ed; }
        .social-icon ul li a i {
          color: #000;
          display: inline-block;
          font-size: 30px;
          line-height: 30px;
          margin: 0; }

@media (max-width: 1499.99px) {
  .social-icon {
    text-align: center; } }
.b-popupaddok {
  display: inline-block;
  width: 50%;
  min-width: 300px;
  max-width: 600px; }
  .b-popupaddok__title {
    display: block;
    font-weight: bold;
    font-size: 22px;
    text-align: center; }
  .b-popupaddok__buttons {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap; }
  .b-popupaddok__button {
    line-height: 60px;
    background-color: #4dc4dc;
    padding: 0 20px;
    color: #ffffff;
    font-size: 20px;
    text-transform: uppercase;
    display: inline-block;
    white-space: nowrap;
    text-align: center;
    margin: 20px 10px; }
    .b-popupaddok__button:hover {
      color: #ffffff;
      text-decoration: none;
      background-color: #0098e0; }

/*# sourceMappingURL=common.css.map */
