.contacts-details {
  display: block;
  padding: 20px;
  background-color: #ffffff; }
  .contacts-details ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    .contacts-details ul li {
      margin: 0;
      padding: 10px 0;
      list-style: none; }

/*# sourceMappingURL=contacts.css.map */
