.delivery-page__content {
  display: block;
  margin-top: 20px;
  padding: 20px;
  background-color: #ffffff;
  font-weight: normal;
}

#alphaDalliPickpont .alpha-list ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
#alphaDalliPickpont .alpha-list ul li {
  padding: 5px 10px;
  margin: 0;
}
#alphaDalliPickpont .alpha-list ul li a {
  color: black;
  font-weight: normal;
}
#alphaDalliPickpont .alpha-list ul li a.disabled {
  cursor: default;
  color: #cccccc;
}
#alphaDalliPickpont .alpha-list ul li a.selected {
  color: black;
  font-weight: bold;
}
#alphaDalliPickpont .alpha-cities {
  display: none;
}
#alphaDalliPickpont .alpha-cities ul {
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  flex-flow: row wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}
#alphaDalliPickpont .alpha-cities ul li {
  width: 25%;
  padding: 5px 0;
  margin: 0;
}
#alphaDalliPickpont .alpha-cities ul li a {
  color: black;
  font-weight: normal;
}
#alphaDalliPickpont .alpha-cities ul li a.selected {
  color: black;
  font-weight: bold;
}

.b-pickup-list-content .b-pickup-list-item.active .b-pickup-list-item-content {
  border-color: #cccccc;
}
.b-pickup-list-content .b-pickup-list-item-content {
  padding: 20px;
  background-color: #ffffff;
  margin: 10px;
  font-size: 14px;
  font-weight: normal;
  border: 1px solid transparent;
  border-bottom: 1px solid #eeeeee;
}
#b-deliveryall__area {
  display: block;
}

#b-deliveryall__area-button {
  display: block;
}

#b-deliveryall__area-content {
  display: none;
}

.panel-map {
  width: 100%;
  height: 300px;
  display: block;
  margin-top: 20px;
}

#mapDalliPickpont {
  width: 100%;
  height: 500px;
  display: block;
  margin: 20px 0;
}

/*# sourceMappingURL=delivery.css.map */
