.footer {
  background-color: #5c5c5c;
  color: #ffffff;
  padding: 40px 0; }
  .footer-contacts {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: flex-start;
    justify-content: flex-start; }
    .footer-contacts__item {
      list-style: none;
      padding: 10px 0;
      margin: 0;
      color: #ffffff;
      font-size: 18px;
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: flex-start; }
      .footer-contacts__item:first-of-type {
        padding-top: 0; }
      .footer-contacts__item-img {
        display: inline-block;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        margin-right: 20px; }
        .footer-contacts__item-img_location {
          background-image: url(../images/location.png);
          width: 40px;
          height: 46px; }
        .footer-contacts__item-img_phone {
          background-image: url(../images/phone.png);
          width: 40px;
          height: 40px; }
        .footer-contacts__item-img_mail {
          background-image: url(../images/mail.png);
          width: 40px;
          height: 32px; }
  .footer-sonet {
    margin: 30px 0 0 0;
    padding: 0;
    display: flex;
    align-content: center;
    align-items: flex-start;
    justify-content: flex-start; }
    .footer-sonet__item {
      list-style: none;
      padding: 0 20px 0 0;
      margin: 0; }
      .footer-sonet__item-link {
        display: inline-block;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain; }
        .footer-sonet__item-link_vk {
          background-image: url(../images/vk.png);
          width: 53px;
          height: 53px; }
        .footer-sonet__item-link_fb {
          background-image: url(../images/fb.png);
          width: 53px;
          height: 53px; }
        .footer-sonet__item-link_ig {
          background-image: url(../images/ig.png);
          width: 53px;
          height: 53px; }
  .footer-title {
    font-size: 22px;
    color: #ffffff;
    text-transform: uppercase;
    margin-top: 10px; }
    .footer-title-contacts {
      display: none; }
  .footer-menu {
    margin: 0;
    padding: 0;
    list-style: none; }
    .footer-menu__item {
      margin: 0;
      padding: 5px 0; }
      .footer-menu__item-link {
        color: #ffffff; }
        .footer-menu__item-link:hover {
          text-decoration: underline;
          color: #ffffff; }
  .footer .bx-subscribe__form {
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px; }
  .footer .bx-subscribe__input {
    display: inline-block;
    width: 50%;
    border: 2px solid #bfbfbf;
    background-color: transparent;
    color: #ffffff;
    font-family: 'Proxima Nova Lt';
    font-weight: 300;
    height: 47px;
    line-height: 47px;
    padding: 0 20px;
    margin: 0; }
    .footer .bx-subscribe__input:active, .footer .bx-subscribe__input:focus {
      background-color: #ffffff;
      color: #5c5c5c; }
  .footer .bx-subscribe__button {
    display: inline-block;
    width: 50%;
    background-color: #bfbfbf;
    border: 0 none;
    color: #ffffff;
    text-transform: uppercase;
    height: 47px;
    line-height: 47px;
    padding: 0 20px;
    margin: 0;
    font-weight: 800; }
  .footer-payment {
    margin: 0;
    padding: 30px 0 0 0;
    list-style: none; }
    .footer-payment__item {
      padding: 0;
      margin: 30px 0;
      list-style: none;
      display: block;
      background-repeat: no-repeat;
      background-position: center 0;
      background-size: contain; }
      .footer-payment__item_visa {
        background-image: url(../images/visa.png);
        width: 120px;
        height: 39px; }
      .footer-payment__item_maestro {
        background-image: url(../images/maestro.png);
        width: 120px;
        height: 74px; }
      .footer-payment__item_mastercard {
        background-image: url(../images/mastercard.png);
        width: 120px;
        height: 73px; }
      .footer-payment__item_mir {
        background-image: url(../images/mir.png);
        width: 120px;
        height: 34px; }

@media (max-width: 1499.99px) {
  .footer-payment {
    display: flex;
    align-items: center;
    align-content: stretch;
    justify-content: space-evenly; } }
@media (max-width: 991.99px) {
  .footer-title {
    margin-top: 30px; }
  .footer-menu {
    margin: 0 0 20px 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap; }
    .footer-menu__item {
      width: 33%; }
  .footer-sonet {
    margin-top: 0;
    display: flex;
    align-items: center;
    align-content: stretch;
    justify-content: center; }
  .footer-payment__item {
    margin-left: 10px;
    margin-right: 10px; } }
@media (max-width: 767.99px) {
  .footer-menu__item {
    width: 50%; } }

/*# sourceMappingURL=footer.css.map */
