.header {
  position: relative; }
  .header__logo {
    display: block;
    width: 288px;
    height: 92px;
    max-width: 100%;
    margin-top: 14px;
    margin-bottom: 14px; }
  .header-phones__whatsapp {
    display: inline-block;
    width: 38px;
    height: 45px;
    background: url("../images/whatsap.png") top center no-repeat transparent;
    background-size: contain;
    margin-top: 40px;
    margin-right: 6px; }
  .header-phones__viber {
    display: inline-block;
    width: 40px;
    height: 45px;
    background: url("../images/viber.png") top center no-repeat transparent;
    background-size: contain;
    margin-top: 40px;
    margin-right: 6px; }
  .header-phones__telegram {
    display: inline-block;
    width: 38px;
    height: 45px;
    background: url("../images/telegram.png") top center no-repeat transparent;
    background-size: contain;
    margin-top: 40px;
    margin-right: 6px; }
  .header-phones__call {
    display: inline-block;
    width: 38px;
    height: 45px;
    background: url("../images/call.png") top center no-repeat transparent;
    background-size: contain;
    margin-top: 40px;
    margin-right: 6px; }
  .header-phones__phone {
    font-family: 'Proxima Nova Th';
    font-weight: 800;
    font-size: 28px;
    margin-top: 39px;
    vertical-align: top;
    display: inline-block; }
    .header-phones__phone a {
      color: #383838; }
      .header-phones__phone a:hover {
        color: #383838;
        text-decoration: none; }
  .header-user {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
    margin-top: 40px; }
    .header-user__item {
      border-left: 2px solid #383838;
      padding: 0 15px; }
      .header-user__item:first-of-type {
        border-left: 0; }
    .header-user__link {
      display: inline-block;
      background-position: 0 center;
      background-repeat: no-repeat;
      vertical-align: middle; }
      .header-user__link_personal {
        background-image: url(../images/header-user.png);
        width: 29px;
        height: 50px; }
      .header-user__link_favorite {
        background-image: url(../images/header-star.png);
        min-width: 36px;
        height: 50px; }
        .header-user__link_favorite span {
          color: #383838;
          font-size: 24px;
          display: inline-block;
          padding-left: 46px;
          line-height: 50px; }
      .header-user__link_basket {
        background-image: url(../images/header-basket.png);
        min-width: 35px;
        height: 50px; }
        .header-user__link_basket span {
          display: none; }
        .header-user__link_basket-full {
          background-image: url(../images/header-basket-full.png);
          min-width: 70px;
          height: 50px; }
          .header-user__link_basket-full span {
            color: #383838;
            font-size: 24px;
            display: inline-block;
            padding-left: 40px;
            line-height: 50px; }
  .header-menu__button {
    display: inline-block;
    width: 76px;
    height: 76px;
    background: url(../images/menu.png) center center no-repeat;
    margin: 5px; }
  .header-menu-popup {
    display: none; }
  .header-search__button {
    display: inline-block;
    width: 76px;
    height: 76px;
    background: url(../images/header-search.png) center center no-repeat;
    margin: 5px; }
  .header-search-popup {
    display: none;
    height: 93px;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 1000;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 10px 5px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow: 0px 10px 5px 0px rgba(50, 50, 50, 0.5);
    box-shadow: 0px 10px 5px 0px rgba(50, 50, 50, 0.5); }
    .header-search-popup_active {
      display: block; }
    .header-search-popup__bg {
      display: none;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 999;
      background-color: rgba(0, 0, 0, 0.4);
      cursor: pointer; }
      .header-search-popup__bg_active {
        display: block; }
  .header-popup-phones {
    display: inline-block;
    border: 1px solid #353535;
    border-radius: 5px;
    padding: 5px 10px;
    max-height: 40px;
    margin: 10px 0;
    white-space: nowrap; }
    .header-popup-phones__call {
      display: inline-block;
      width: 28px;
      height: 35px;
      background: url("../images/call.png") top center no-repeat transparent;
      background-size: contain;
      margin-right: 10px; }
    .header-popup-phones__phone {
      font-family: 'Proxima Nova Th';
      font-weight: 800;
      font-size: 20px;
      vertical-align: top;
      display: inline-block; }
      .header-popup-phones__phone a {
        color: #383838; }
        .header-popup-phones__phone a:hover {
          color: #383838; }
  .header-popup__close {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url(../images/header-close.png) center center no-repeat;
    background-size: contain;
    margin: 10px 0 10px 0; }

.logo {
  background: url("../images/logo.png") 0 0 no-repeat transparent;
  background-size: contain; }

@media (max-width: 575.99px) {
  .header__logo {
    display: block;
    width: 76px;
    height: 76px;
    margin: 5px auto; }
  .header-user {
    justify-content: center;
    margin-top: 10px; }
    .header-user__item {
      border-left: 0 none;
      padding: 0 30px; }
    .header-user__link_personal-popup {
      background-image: url(../images/header-user.png);
      width: auto;
      height: 33px;
      padding-left: 50px;
      line-height: 33px;
      margin-bottom: 20px;
      color: #383838;
      font-family: 'Proxima Nova Th';
      font-weight: 800;
      font-size: 20px; }
      .header-user__link_personal-popup:hover {
        color: #383838; }
  .header-menu-popup {
    display: none;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 1000;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 10px 5px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow: 0px 10px 5px 0px rgba(50, 50, 50, 0.5);
    box-shadow: 0px 10px 5px 0px rgba(50, 50, 50, 0.5); }
  .header-popup-phones__phone {
    font-size: 16px;
    line-height: 28px; }

  .logo {
    background: url("../images/logo-small.png") 0 0 no-repeat transparent;
    background-size: contain; } }
@media (min-width: 576px) and (max-width: 767.99px) {
  .header__logo {
    display: block;
    width: 76px;
    height: 76px;
    margin: 5px auto; }
  .header-user {
    justify-content: center;
    margin-top: 10px; }
    .header-user__item {
      border-left: 0 none;
      padding: 0 30px; }
    .header-user__link_personal-popup {
      background-image: url(../images/header-user.png);
      width: auto;
      height: 33px;
      padding-left: 50px;
      line-height: 33px;
      margin-bottom: 20px;
      color: #383838;
      font-family: 'Proxima Nova Th';
      font-weight: 800;
      font-size: 20px; }
      .header-user__link_personal-popup:hover {
        color: #383838; }
  .header-menu-popup {
    display: none;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 1000;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 10px 5px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow: 0px 10px 5px 0px rgba(50, 50, 50, 0.5);
    box-shadow: 0px 10px 5px 0px rgba(50, 50, 50, 0.5); }

  .logo {
    background: url("../images/logo-small.png") 0 0 no-repeat transparent;
    background-size: contain; } }
@media (min-width: 768px) and (max-width: 991.99px) {
  .header__logo {
    width: 192px;
    height: 61px;
    margin: 10px auto; }
  .header-user {
    justify-content: center;
    margin-top: 10px; }
    .header-user__item {
      border-left: 0 none;
      padding: 0 30px; }
    .header-user__link_personal-popup {
      background-image: url(../images/header-user.png);
      width: auto;
      height: 33px;
      padding-left: 50px;
      line-height: 33px;
      margin-bottom: 20px;
      color: #383838;
      font-family: 'Proxima Nova Th';
      font-weight: 800;
      font-size: 20px; }
      .header-user__link_personal-popup:hover {
        color: #383838; }
  .header-menu-popup {
    display: none;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 1000;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 10px 5px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow: 0px 10px 5px 0px rgba(50, 50, 50, 0.5);
    box-shadow: 0px 10px 5px 0px rgba(50, 50, 50, 0.5); } }
@media (min-width: 992px) {
  .header-menu-popup {
    display: none !important; }
  .header-search-popup_active {
    display: none; }
  .header-search-popup__bg_active {
    display: none; } }

/*# sourceMappingURL=header.css.map */
