.lk__title-row {
  align-items: center; }
  .lk__title-row h1 {
    text-align: left;
    color: #383838;
    font-size: 48px;
    text-transform: none;
    margin: 0;
    padding: 0; }
.lk-balls .row {
  align-items: center; }
.lk-balls__title {
  text-transform: uppercase;
  text-align: right;
  color: #383838;
  font-size: 26px;
  font-family: 'Proxima Nova Lt';
  font-weight: 600;
  font-style: normal; }
.lk-balls__content {
  display: inline-block;
  padding: 0px 15px;
  margin-left: 10px;
  background-color: #4dc4dc;
  color: #ffffff;
  font-size: 36px;
  font-family: 'Proxima Nova Lt';
  font-weight: 600;
  font-style: normal;
  float: right; }
.lk-menu {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0 20px 0;
  padding: 0;
  list-style: none; }
  .lk-menu__item {
    padding: 0 0 10px 0;
    margin: 20px 50px 0 0;
    list-style: none;
    cursor: pointer;
    font-size: 20px;
    color: #383838;
    text-transform: uppercase; }
    .lk-menu__item:hover {
      border-bottom: 1px solid #4dc4dc;
      padding-bottom: 9px; }
    .lk-menu__item-selected {
      border-bottom: 7px solid #4dc4dc;
      padding-bottom: 3px; }
      .lk-menu__item-selected:hover {
        border-bottom: 7px solid #4dc4dc;
        padding-bottom: 3px; }
  .lk-menu__link {
    color: #383838; }
    .lk-menu__link:hover {
      color: #383838;
      text-decoration: none; }
.lk-orders table {
  width: 100%;
  font-family: 'Proxima Nova Rg';
  font-weight: normal;
  font-style: normal; }
  .lk-orders table thead tr {
    border-bottom: 1px solid #cccccc; }
  .lk-orders table thead th {
    font-size: 20px;
    color: #777777;
    padding: 10px 10px;
    font-weight: normal;
    font-style: normal; }
  .lk-orders table tbody tr {
    border-bottom: 1px solid #cccccc; }
  .lk-orders table tbody td {
    color: #383838;
    font-size: 20px;
    padding: 10px 10px;
    font-weight: normal;
    font-style: normal; }
.lk-personal {
  display: block;
  width: 100%; }
  .lk-personal-row {
    margin-top: 15px; }
  .lk-personal label {
    font-size: 24px;
    color: #383838;
    font-family: 'Proxima Nova Lt';
    font-weight: 300;
    font-style: normal; }
  .lk-personal input[type=text], .lk-personal input[type=password] {
    max-width: 500px;
    color: #383838;
    font-size: 24px;
    color: #383838;
    font-family: 'Proxima Nova Lt';
    font-weight: 300;
    font-style: normal;
    border: 1px solid #cccccc;
    padding: 5px 10px;
    width: 100%; }
  .lk-personal button {
    font-size: 22px;
    text-transform: uppercase;
    color: #ffffff;
    border: 0 none;
    padding: 15px 10px;
    background-color: #5c5c5c;
    max-width: 500px;
    width: 100%;
    font-family: 'Proxima Nova Lt';
    font-weight: 600;
    font-style: normal; }
    .lk-personal button:hover {
      background-color: #4dc4dc; }
.lk-wishlist {
  width: 100%;
  font-family: 'Proxima Nova Rg';
  font-weight: normal;
  font-style: normal; }
  .lk-wishlist thead tr {
    border-bottom: 1px solid #cccccc; }
  .lk-wishlist thead th {
    font-size: 20px;
    color: #777777;
    padding: 10px 10px;
    font-weight: normal;
    font-style: normal;
    text-align: center; }
    .lk-wishlist thead th.product-thumbnail {
      text-align: left; }
  .lk-wishlist tbody tr {
    border-bottom: 1px solid #cccccc; }
  .lk-wishlist tbody td {
    color: #383838;
    font-size: 20px;
    padding: 10px 10px;
    font-weight: normal;
    font-style: normal; }
    .lk-wishlist tbody td .single-product {
      display: flex; }
      .lk-wishlist tbody td .single-product .product-img {
        max-width: 150px; }
        .lk-wishlist tbody td .single-product .product-img img {
          max-width: 100px; }
      .lk-wishlist tbody td .single-product .product-info {
        padding-left: 10px; }
    .lk-wishlist tbody td.product-price {
      text-align: center; }
      .lk-wishlist tbody td.product-price i {
        text-align: center;
        display: block;
        font-size: 0.8em;
        text-decoration: line-through; }
    .lk-wishlist tbody td.product-add-cart {
      text-align: center; }
      .lk-wishlist tbody td.product-add-cart a {
        display: inline-block;
        background-image: url(../images/header-basket.png);
        width: 20px;
        height: 20px;
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat; }
    .lk-wishlist tbody td.product-remove {
      text-align: center; }
      .lk-wishlist tbody td.product-remove a {
        display: inline-block;
        background-image: url(../img/basket-del.png);
        width: 20px;
        height: 20px;
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat; }

@media (max-width: 991.99px) {
  .lk__title-row h1 {
    font-size: 36px; }
  .lk-balls__title {
    font-size: 18px; }
  .lk-balls__content {
    font-size: 18px;
    padding: 0 10px; } }

/*# sourceMappingURL=lk.css.map */
