.banners {
  padding: 20px 0 50px 0; }

.mainpage-banners-carousel-title-small {
  display: none; }
.mainpage-banners__title {
  padding: 25px 10px 30px 0;
  cursor: pointer;
  color: #878787;
  text-transform: uppercase;
  border-bottom: 2px solid #c6c6c6;
  white-space: nowrap; }
  .mainpage-banners__title:hover {
    border-bottom-color: #e55454; }
  .mainpage-banners__title_active {
    padding-bottom: 25px;
    border-bottom: 7px solid #e55454; }

@media (max-width: 767.99px) {
  .mainpage-banners-carousel-title-small {
    display: block;
    text-align: center;
    color: #878787;
    font-size: 18px;
    padding: 20px 10px;
    text-transform: uppercase; }
  .mainpage-banners__title {
    margin: 0 5px;
    border-bottom: 7px solid #c6c6c6;
    padding: 0; }
    .mainpage-banners__title span {
      display: none; }
    .mainpage-banners__title_active {
      padding-bottom: 0;
      border-bottom: 7px solid #e55454; } }

/*# sourceMappingURL=mainpage.banners.css.map */
