.section-banners {
  margin-top: 50px; }
  .section-banners-row {
    display: flex;
    align-content: stretch;
    align-items: stretch;
    padding-top: 18px; }
    .section-banners-row:first-of-type {
      padding-top: 0; }
  .section-banners-col__ml {
    padding-left: 18px; }
  .section-banners__content {
    min-height: 470px;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    text-align: center;
    vertical-align: middle;
    transition: 0.3s;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center; }
    .section-banners__content:hover {
      transform: scale(1.025); }
    .section-banners__content-text {
      display: inline-block;
      font-size: 36px;
      color: #ffffff;
      font-family: 'Proxima Nova Th';
      font-weight: 800;
      text-transform: uppercase;
      border: 5px solid #ffffff;
      padding: 5px 25px;
      max-width: 80%;
      background: url(../images/section-banner-bg.png) 0 0 repeat; }
    .section-banners__content-link {
      font-size: 36px;
      color: #ffffff;
      font-family: 'Proxima Nova Th';
      font-weight: 800;
      text-transform: uppercase; }
      .section-banners__content-link:hover {
        text-decoration: none;
        color: #ffffff; }
  .section-banners-mobile {
    display: none !important;
    margin-top: 50px; }

@media (max-width: 991.99px) {
  .section-banners {
    display: none; }
    .section-banners-mobile {
      display: block !important; } }

/*# sourceMappingURL=mainpage.section.banners.css.map */
