.menu-mainpage-left {
  display: block;
  margin-top: 30px; }
  .menu-mainpage-left__mt0 {
    margin-top: 0; }
  .menu-mainpage-left__items {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between; }
  .menu-mainpage-left__item {
    list-style: none;
    margin: 0;
    padding: 14px 0; }
  .menu-mainpage-left__item-link {
    font-size: 18px;
    color: #808080;
    text-transform: uppercase;
    /*white-space: nowrap;
    line-height: 55px;*/
    vertical-align: middle;
    text-align: center;
    display: block; }
    .menu-mainpage-left__item-link:hover {
      color: #808080;
      text-decoration: underline; }
    .menu-mainpage-left__item-link_selected {
      color: #383838; }

.menu-mainpage-left2 {
  display: block;
  margin: 10px 0; }
  .menu-mainpage-left2__items {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between; }
  .menu-mainpage-left2__item {
    list-style: none;
    margin: 0;
    padding: 2px 0; }
  .menu-mainpage-left2__item-link {
    font-size: 16px;
    color: #808080;
    text-align: center;
    display: block; }
    .menu-mainpage-left2__item-link:hover {
      color: #808080;
      text-decoration: underline; }
    .menu-mainpage-left2__item-link_selected {
      color: #383838; }

.menu-mainpage-left3 {
  display: block;
  margin: 10px 0; }
  .menu-mainpage-left3__items {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between; }
  .menu-mainpage-left3__item {
    list-style: none;
    margin: 0;
    padding: 2px 0; }
  .menu-mainpage-left3__item-link {
    font-size: 14px;
    color: #808080;
    vertical-align: middle;
    text-align: center;
    display: block; }
    .menu-mainpage-left3__item-link:hover {
      color: #808080;
      text-decoration: underline; }
    .menu-mainpage-left3__item-link_selected {
      color: #383838; }

/*# sourceMappingURL=menu.mainpage.left.css.map */
