@media (max-width: 575.99px) {
  .footer {
    padding-left: 10px;
    padding-right: 10px; }

  .brands-top {
    padding-left: 10px;
    padding-right: 10px; }

  .banners {
    padding-top: 0; }
    .banners .mainpage-banners-carousel-title {
      padding-left: 10px;
      padding-right: 10px; }

  .page-content {
    padding-left: 10px;
    padding-right: 10px; }

  .product-card {
    padding-left: 0;
    padding-right: 0; }

  .owl-item .product-card {
    padding-left: 10px;
    padding-right: 10px; }

  .basket-table__body_photo img {
    max-width: 100%;
    height: auto; }

  .basket-table__body_cnt {
    flex-basis: 0; }

  .basket-table__footer-coupon-area-inputarea {
    padding-left: 0; }

  .basket-table__footer-coupon-area-button-area {
    margin-left: 0; }

  .basket-table__footer-coupon-area-text {
    display: none; }

  .header-user {
    margin-bottom: 10px; }

  .header-menu-popup > .container > .row {
    padding-left: 10px;
    padding-right: 10px; }

  .b-menu-hr {
    margin-bottom: 0; }

  .articles-item {
    margin-left: 0; }
    .articles-item:nth-of-type(2n+1) {
      margin-left: 0; }

  .prodcard__price-title {
    display: none; }

  .footer-title-contacts {
    font-size: 22px;
    color: #ffffff;
    text-transform: uppercase;
    margin-top: 0;
    text-align: center;
    display: block; }

  .prodcard__favorite {
    margin-top: 0;
    margin-bottom: 20px; } }

/*# sourceMappingURL=mobile.css.map */
