.navchain {
  display: flex;
  flex-wrap: wrap;
  color: #cccbcb;
  font-size: 18px;
  padding: 15px 0;
  margin: 0;
  list-style: none; }
  .navchain__item {
    padding: 0 15px;
    margin: 0;
    list-style: none;
    color: #aeaeae;
    position: relative; }
    .navchain__item::after {
      color: #cccbcb;
      content: "/";
      left: -4px;
      position: absolute;
      top: 0; }
    .navchain__item:first-child::after {
      content: ""; }
    .navchain__item:first-child {
      padding-left: 0; }
  .navchain__link {
    color: #cccbcb; }
    .navchain__link:hover {
      text-decoration: none;
      color: #aeaeae; }

/*# sourceMappingURL=navchain.css.map */
