@charset "UTF-8";
.order-checkout {
  padding-bottom: 40px; }
  .order-checkout h3 {
    font-size: 18px;
    margin: 15px 0;
    font-family: 'Proxima Nova Th';
    font-weight: 800;
    font-style: normal; }
  .order-checkout .panel-map {
    height: 100%; }
  .order-checkout .order-field {
    padding-top: 10px; }
    .order-checkout .order-field.order-description {
      padding-top: 0; }
    .order-checkout .order-field label {
      font-size: 16px;
      font-family: 'Proxima Nova Lt';
      font-weight: 300;
      font-style: normal;
      margin: 0; }
    .order-checkout .order-field input[type='text'], .order-checkout .order-field textarea, .order-checkout .order-field .bx-ui-sls-input-block {
      display: block;
      width: 100%;
      padding: 2px 5px;
      border: 1px solid #555555;
      font-size: 16px;
      font-family: 'Proxima Nova Lt';
      font-weight: 300;
      font-style: normal; }
  .order-checkout .form-radio {
    position: relative;
    margin-top: 10px; }
    .order-checkout .form-radio.order-field {
      padding-top: 0; }
    .order-checkout .form-radio input[type='radio'] {
      -webkit-appearance: none;
      /* Chrome */
      -moz-appearance: none;
      /* Firefox */
      appearance: none;
      /* ╤Г╨▒╨╕╤А╨░╨╡╨╝ ╤Б╤В╨░╨╜╨┤╨░╤А╤В╨╜╤Л╨╡ ╨║╤А╤Г╨╢╨╛╤З╨║╨╕ */
      position: absolute; }
    .order-checkout .form-radio label {
      padding-left: 21px;
      /* ╨╛╤В╤Б╤В╤Г╨┐ ╤Б╨╗╨╡╨▓╨░ */
      cursor: pointer;
      /* ╨║╤Г╤А╤Б╨╛╤А ╤А╤Г╨║╨░ */
      line-height: 29px; }
      .order-checkout .form-radio label:before {
        content: "";
        display: block;
        /* ╨╜╨╡ ╨▓ ╤Б╤В╤А╨╛╨║╤Г */
        width: 15px;
        /* ╤И╨╕╤А╨╕╨╜╨░ ╨▒╨╗╨╛╨║╨░ */
        height: 15px;
        /* ╨▓╤Л╤Б╨╛╤В╨░ ╨▒╨╗╨╛╨║╨░ */
        border: 1px solid #aeaeae;
        /* ╤А╨░╨╝╨║╨░ */
        background-color: #ffffff;
        /* ╤Ж╨▓╨╡╤В ╤Д╨╛╨╜╨░ */
        border-radius: 50%;
        /* ╨┐╨╛╨╗╤Г╤З╨░╨╡╨╝ ╨║╤А╤Г╨│ */
        position: absolute;
        /* ╤А╨░╤Б╨┐╨╛╨╗╨╛╨╢╨╡╨╜ ╤В╨╛╤З╨╜╨╛ ╨▓ ╤А╨╛╨┤╨╕╤В╨╡╨╗╨╡ */
        top: 6px;
        /* ╤А╨░╤Б╤Б╤В╨╛╤П╨╜╨╕╨╡ ╨╛╤В ╨▓╨╡╤А╤Е╨░ ╤А╨╛╨┤╨╕╤В╨╡╨╗╤П */
        left: 0;
        /* ╤А╨░╤Б╤Б╤В╨╛╤П╨╜╨╕╨╡ ╤Б╨╗╨╡╨▓╨░ ╨╛╤В ╤А╨╛╨┤╨╕╤В╨╡╨╗╤П */
        z-index: 1;
        /* ╨╜╨░ ╨╜╨╕╨╢╨╜╨╡╨╝ ╤Б╨╗╨╛╨╡ */
        transition: border .1s linear;
        /* ╨┐╨╗╨░╨▓╨╜╤Л╨╣ ╨┐╨╡╤А╨╡╤Е╨╛╨┤ ╨┤╨╗╤П border */ }
      .order-checkout .form-radio label:after {
        content: "";
        display: block;
        width: 9px;
        height: 9px;
        background-color: #f24841;
        border-radius: 50%;
        opacity: 0;
        /* ╨┐╨╛╨╗╨╜╨╛╤Б╤В╤М╤О ╨┐╤А╨╛╨╖╤А╨░╤З╨╜╤Л╨╣ */
        position: absolute;
        top: 9px;
        left: 3px;
        z-index: 2;
        /* ╨╜╨░ ╨▓╨╡╤А╤Е╨╜╨╡╨╝ ╤Б╨╗╨╛╨╡ */
        transition: opacity .1s linear;
        /* ╨┐╨╗╨░╨▓╨╜╤Л╨╣ ╨┐╨╡╤А╨╡╤Е╨╛╨┤ ╨┤╨╗╤П opacity */ }
    .order-checkout .form-radio input[type='radio']:checked + label:before {
      /*border-color: #f24841;*/ }
    .order-checkout .form-radio input[type='radio']:checked + label:after {
      opacity: 1; }
  .order-checkout .form-check {
    position: relative;
    margin-top: 10px; }
    .order-checkout .form-check.order-field {
      padding-top: 0; }
    .order-checkout .form-check input[type='checkbox'] {
      -webkit-appearance: none;
      /* Chrome */
      -moz-appearance: none;
      /* Firefox */
      appearance: none;
      /* ╤Г╨▒╨╕╤А╨░╨╡╨╝ ╤Б╤В╨░╨╜╨┤╨░╤А╤В╨╜╤Л╨╡ ╨║╤А╤Г╨╢╨╛╤З╨║╨╕ */
      position: absolute; }
    .order-checkout .form-check label {
      padding-left: 30px;
      /* ╨╛╤В╤Б╤В╤Г╨┐ ╤Б╨╗╨╡╨▓╨░ */
      cursor: pointer;
      /* ╨║╤Г╤А╤Б╨╛╤А ╤А╤Г╨║╨░ */
      line-height: 29px; }
      .order-checkout .form-check label:before {
        content: "";
        display: block;
        /* ╨╜╨╡ ╨▓ ╤Б╤В╤А╨╛╨║╤Г */
        width: 19px;
        /* ╤И╨╕╤А╨╕╨╜╨░ ╨▒╨╗╨╛╨║╨░ */
        height: 19px;
        /* ╨▓╤Л╤Б╨╛╤В╨░ ╨▒╨╗╨╛╨║╨░ */
        border: 1px solid #aeaeae;
        /* ╤А╨░╨╝╨║╨░ */
        background-color: #ffffff;
        /* ╤Ж╨▓╨╡╤В ╤Д╨╛╨╜╨░ */
        border-radius: 0;
        /* ╨┐╨╛╨╗╤Г╤З╨░╨╡╨╝ ╨║╤А╤Г╨│ */
        position: absolute;
        /* ╤А╨░╤Б╨┐╨╛╨╗╨╛╨╢╨╡╨╜ ╤В╨╛╤З╨╜╨╛ ╨▓ ╤А╨╛╨┤╨╕╤В╨╡╨╗╨╡ */
        top: 4px;
        /* ╤А╨░╤Б╤Б╤В╨╛╤П╨╜╨╕╨╡ ╨╛╤В ╨▓╨╡╤А╤Е╨░ ╤А╨╛╨┤╨╕╤В╨╡╨╗╤П */
        left: 0;
        /* ╤А╨░╤Б╤Б╤В╨╛╤П╨╜╨╕╨╡ ╤Б╨╗╨╡╨▓╨░ ╨╛╤В ╤А╨╛╨┤╨╕╤В╨╡╨╗╤П */
        z-index: 1;
        /* ╨╜╨░ ╨╜╨╕╨╢╨╜╨╡╨╝ ╤Б╨╗╨╛╨╡ */
        transition: border .1s linear;
        /* ╨┐╨╗╨░╨▓╨╜╤Л╨╣ ╨┐╨╡╤А╨╡╤Е╨╛╨┤ ╨┤╨╗╤П border */ }
      .order-checkout .form-check label:after {
        content: "";
        display: block;
        width: 13px;
        height: 13px;
        background-color: #f24841;
        border-radius: 0;
        opacity: 0;
        /* ╨┐╨╛╨╗╨╜╨╛╤Б╤В╤М╤О ╨┐╤А╨╛╨╖╤А╨░╤З╨╜╤Л╨╣ */
        position: absolute;
        top: 7px;
        left: 3px;
        z-index: 2;
        /* ╨╜╨░ ╨▓╨╡╤А╤Е╨╜╨╡╨╝ ╤Б╨╗╨╛╨╡ */
        transition: opacity .1s linear;
        /* ╨┐╨╗╨░╨▓╨╜╤Л╨╣ ╨┐╨╡╤А╨╡╤Е╨╛╨┤ ╨┤╨╗╤П opacity */ }
    .order-checkout .form-check input[type='checkbox']:checked + label:before {
      /*border-color: #f24841;*/ }
    .order-checkout .form-check input[type='checkbox']:checked + label:after {
      opacity: 1; }
  .order-checkout .delivery-label {
    color: #383838;
    font-size: 16px;
    line-height: 29px;
    font-family: 'Proxima Nova Lt';
    font-weight: 600;
    font-style: normal; }
    .order-checkout .delivery-label span {
      display: block;
      font-size: 16px;
      color: #383838;
      font-family: 'Proxima Nova Lt';
      font-weight: 300;
      font-style: normal; }
  .order-checkout .delivery-description {
    display: block;
    margin-left: 21px;
    font-size: 16px;
    color: #383838;
    font-family: 'Proxima Nova Lt';
    font-weight: 300;
    font-style: normal; }
  .order-checkout a {
    color: #ef4545; }
  .order-checkout .order-total {
    padding-top: 20px;
    font-size: 16px;
    color: #383838;
    font-family: 'Proxima Nova Lt';
    font-weight: 300;
    font-style: normal; }
  .order-checkout .order-confirm-area {
    text-align: right;
    padding-top: 20px;
    font-size: 16px;
    color: #383838;
    font-family: 'Proxima Nova Lt';
    font-weight: 300;
    font-style: normal; }
    .order-checkout .order-confirm-area .form-check {
      display: inline-block;
      line-height: 29px; }
  .order-checkout .btn-order-save {
    display: inline-block;
    margin-top: 45px;
    background-color: #4dc4dc;
    border: 0 none;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'Proxima Nova Lt';
    font-weight: 600;
    font-style: normal;
    padding: 25px 100px; }
    .order-checkout .btn-order-save.btn-disabled {
      background-color: #5c5c5c;
      color: #ffffff; }

.kladr-error {
  color: #cb3e27; }

#kladr_autocomplete ul {
  background-color: #fff;
  border: 1px solid #c4c4c4;
  color: #313131;
  display: block;
  margin: 0;
  max-height: 420px;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
  position: absolute;
  z-index: 9999; }
#kladr_autocomplete li {
  display: list-item;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 8px 10px;
  text-overflow: ellipsis;
  white-space: nowrap; }
#kladr_autocomplete li + li {
  border-top: 1px solid #ededed; }
#kladr_autocomplete li:hover {
  background-color: #f2f2f2;
  cursor: pointer; }
#kladr_autocomplete li.active {
  background-color: #e9e9e9; }
#kladr_autocomplete a {
  text-decoration: none; }
#kladr_autocomplete strong {
  color: #4dc4dc; }
#kladr_autocomplete .spinner {
  background: rgba(0, 0, 0, 0) url("/bitrix/themes/.default/images/h2osport/spinner.png") no-repeat scroll center center;
  display: block;
  height: 16px;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 16px;
  z-index: 9999; }

#F_DELIVERY_DATE {
  display: none; }

.order-result a {
  color: #383838; }

.order-detail-info .row-order-detail-header {
  background-color: #f1f1f1;
  color: #777777;
  padding: 20px 0;
  font-size: 12px;
  font-family: 'Proxima Nova Rg';
  font-weight: normal;
  font-style: normal; }
.order-detail-info .row-order-detail-content {
  background-color: #f8f8f8;
  color: #383838;
  padding: 20px 0;
  font-size: 12px;
  font-family: 'Proxima Nova Rg';
  font-weight: normal;
  font-style: normal; }

  @media (min-width: 1500px){
	  .deliveryTime {
		  padding-left: 80px;
	  }
  }

/*# sourceMappingURL=order.css.map */
