.places-menu {
  display: block;
  background-color: #ffffff;
  margin-bottom: 20px; }
  .places-menu__title {
    display: block;
    border-bottom: 2px solid #4dc4dc;
    text-transform: uppercase;
    padding: 10px 20px; }
  .places-menu__list {
    list-style: none;
    padding: 10px 0;
    margin: 0 20px; }
    .places-menu__list-item {
      list-style: none;
      padding: 5px 0;
      margin: 0; }
    .places-menu__list-link {
      color: #383838; }
      .places-menu__list-link_selected {
        font-weight: bold; }
.places-detail {
  margin-top: 20px;
  display: none;
  padding: 20px;
  background-color: #ffffff; }
  .places-detail h1 {
    color: #383838;
    text-align: left; }

/*# sourceMappingURL=places.css.map */
