.product-card {
  display: block;
  height: 100%;
  position: relative;
  padding: 10px;
  transition: 0.3s; }
  .product-card:hover {
    transform: scale(1.025); }
  .product-card__inner {
    display: block;
    -webkit-box-shadow: 1px 1px 10px 0px rgba(172, 172, 172, 0.75);
    -moz-box-shadow: 1px 1px 10px 0px rgba(172, 172, 172, 0.75);
    box-shadow: 1px 1px 10px 0px rgba(172, 172, 172, 0.75);
    display: block;
    height: 100%;
    position: relative;
    padding: 0 0 45px 0;
    background-color: #ffffff; }
  .product-card__image-link {
    padding: 25px 25px 0 25px;
    display: block;
    text-align: center; }
  .product-card__image {
    max-width: 100%; }
  .product-card__info {
    display: block;
    padding: 10px 20px 10px 20px;
    height: 68px;
    overflow: hidden; }
  .product-card__name {
    color: #424242;
    text-decoration: none;
    text-transform: uppercase; }
    .product-card__name:hover {
      text-decoration: none; }
  .product-card__actions {
    padding: 5px 20px 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end; }
  .product-card__prices span {
    display: block;
    font-weight: normal; }
  .product-card__price-old {
    display: block;
    color: #878787;
    text-decoration: line-through;
    font-size: 16px;
    font-family: 'Proxima Nova Rg';
    font-weight: normal; }
    .product-card__price-old_empty {
      visibility: hidden; }
  .product-card__price-current {
    display: block;
    color: #e55454;
    font-size: 20px; }
  .product-card__action-button {
    margin-left: 10px; }
    .product-card__action-button:first-of-type {
      margin-left: 0; }
  .product-card__action-add-favorite {
    display: inline-block;
    width: 25px;
    height: 25px;
    background: url(../images/star.svg) center center no-repeat;
    background-size: contain; }
    .product-card__action-add-favorite:hover {
      background-image: url(../images/star-active.svg); }
    .product-card__action-add-favorite-active {
      background-image: url(../images/star-active.svg); }
  .product-card__action-add-basket {
    display: inline-block;
    width: 25px;
    height: 25px;
    background: url(../images/shopping-cart.svg) center center no-repeat;
    background-size: contain; }
    .product-card__action-add-basket:hover {
      background-image: url(../images/shopping-cart-active.svg); }
    .product-card__action-add-basket-active {
      background-image: url(../images/shopping-cart-active.svg); }
  .product-card__action-buy {
    display: inline-block;
    width: 25px;
    height: 25px;
    background: url(../images/shopping-cart.svg) center center no-repeat;
    background-size: contain; }
    .product-card__action-buy:hover {
      background-image: url(../images/shopping-cart-active.svg); }
    .product-card__action-buy-active {
      background-image: url(../images/shopping-cart-active.svg); }
  .product-card__label {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0; }
    .product-card__label-text {
      display: block;
      width: 100%;
      height: 45px;
      line-height: 45px;
      text-align: center;
      text-transform: uppercase;
      background-color: #4dc4dc;
      color: #ffffff; }
  .product-card__rating {
    display: block;
    text-align: center;
    padding: 10px 0;
    font-size: 30px; }

/*# sourceMappingURL=product.card.css.map */
