.recomended-content {
  padding: 45px 0;
  background-color: #f8f8f8;
  margin-top: 45px; }
  .recomended-content__area {
    justify-content: center;
    padding: 0 0 30px 0;
    display: flex; }
  .recomended-content__title {
    display: inline-block;
    background-color: #e55454;
    padding: 0 35px; }
    .recomended-content__title h2 {
      padding: 0;
      margin: 0;
      color: #ffffff;
      text-transform: uppercase;
      font-size: 22px;
      line-height: 62px;
      font-family: 'Proxima Nova Th'; }

/*# sourceMappingURL=recomended.content.css.map */
