.search {
  display: block; }
  .search__input {
    display: block;
    border: 1px solid #383838;
    line-height: 50px;
    font-size: 18px;
    color: #383838;
    font-family: 'Proxima Nova Lt';
    padding: 0 15px 0 65px;
    width: 100%;
    background: url("../images/search.png") 15px center no-repeat transparent;
    /*background-size: contain;*/ }
    @media (min-width: 992px) and (max-width: 1499.99px) {
      .search__input {
        font-size: 15px;
        padding: 0 10px 0 50px; } }

.header-search-popup .search__input {
  line-height: 93px; }

/*# sourceMappingURL=search.css.map */
