.tabsblock__title-list {
  display: flex;
  margin: 40px 0 20px 0;
  padding: 0;
  list-style: none; }
.tabsblock__title-item {
  padding: 0 0 10px 0;
  margin: 0 50px 0 0;
  list-style: none;
  cursor: pointer;
  font-size: 20px;
  color: #383838;
  text-transform: uppercase; }
  .tabsblock__title-item:hover {
    border-bottom: 1px solid #4dc4dc;
    padding-bottom: 9px; }
  .tabsblock__title-item_active {
    border-bottom: 7px solid #4dc4dc;
    padding-bottom: 3px; }
    .tabsblock__title-item_active:hover {
      border-bottom: 7px solid #4dc4dc;
      padding-bottom: 3px; }
.tabsblock__content-item {
  display: none;
  font-size: 18px;
  color: #383838;
  font-family: 'Proxima Nova Rg';
  font-weight: normal; }
  .tabsblock__content-item_active {
    display: block; }

/*# sourceMappingURL=tabsblock.css.map */
