.tabs__header {
  display: block;
  margin-bottom: 32px; }
.tabs-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center; }
  .tabs-menu__item {
    list-style: none;
    padding: 0;
    margin: 0; }
    .tabs-menu__item-link {
      line-height: 64px;
      display: inline-block;
      color: #e55454;
      font-family: 'Proxima Nova Th';
      font-weight: 800;
      padding: 0 50px;
      margin: 0 2px; }
      .tabs-menu__item-link_active {
        color: #ffffff;
        background-color: #e55454; }
      .tabs-menu__item-link:hover {
        color: #ffffff;
        background-color: #e55454;
        text-decoration: none; }
.tabs__item {
  display: none; }
  .tabs__item_active {
    display: block; }

@media (max-width: 575.99px) {
  .tabs-menu__item-link {
    padding: 0 20px; } }

/*# sourceMappingURL=tabs.css.map */
