.dragHandle {
    padding-left: 28px !important;
    background: url(/bitrix/themes/.default/images/menu/drag.gif) no-repeat 5px;
    cursor: move;
}

.dragRow, .dragRow > td, #ib_prop_list tr:hover > td {
    background-color: #E7EAF5 !important;
}

.betterGlowRow, .betterGlowRow > td {
    background-color: #FFC310 !important;
}