table.sale_order_full
{
	width:100%;
	background-color:#F9FAFB;
	border-collapse:collapse;
}

/*Table head*/
table.sale_order_full th
{
	/*background-image:url(images/table_head.gif);
	background-repeat:repeat-x;*/
	text-align: left;
	color:#25639A;
}

/* Table cells and heads*/
table.sale_order_full th, table.sale_order_full td
{
	border:1px solid #ADC3D5;
	padding: 3px 5px;
	vertical-align:top;
}

table.sale_order_full_table
{
	width:100%;
	background-color:#FFFFFF;
	border-collapse:collapse;
	font-size:12px;
	border:1px solid #ADC3D5;
}

/* Table cells and heads*/
table.sale_order_full_table td
{
	padding: 3px 5px;
	vertical-align:top;
}

.sof-req{color:red;}
.sof-ok{color:green; font-weight:bold;}