/* Ammina CSS file original /local/templates/h2osportnew/css/contacts.css */
.contacts-details{display:block;padding:20px;background-color:#fff;}.contacts-details ul{margin:0;padding:0;list-style:none;}.contacts-details ul li{margin:0;padding:10px 0;list-style:none;}