.header-hide-title .dropdown-toggle span {
  display: none;
}
#header-login-content .account .block {
  border: 0 none;
  margin: 0;
}
#header-login-content .account .block h2 {
  margin-top: 0;
}
#basket_form .product-quantity-slider {
  width: 140px;
  display: inline-block;
}
#basket_form .product-quantity-slider input {
  height: 34px;
}
#basket_form .product-quantity-slider .input-group-btn:first-child > .btn,
#basket_form .product-quantity-slider .p-quantity .input-group-btn:first-child > .btn-group {
  margin-right: -2px;
}
#basket_form .product-quantity-slider button {
  border-radius: 0;
}
.panel-map {
  width: 100%;
  height: 300px;
  display: block;
  margin-top: 20px;
}
#mapDalliPickpont {
  width: 100%;
  height: 500px;
  display: block;
  margin: 20px 0;
}
.contact-details h3 {
  font-size: 20px;
}
.contact-details ul {
  margin: 5px 0 20px 0;
}
.contact-details ul li {
  list-style: disc;
  padding: 0 0 0 20px;
  margin-left: 15px;
}
.kladr-error {
  color: #cb3e27;
}
#kladr_autocomplete ul {
  background-color: #fff;
  border: 1px solid #c4c4c4;
  color: #313131;
  display: block;
  margin: 0;
  max-height: 420px;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
  position: absolute;
  z-index: 9999;
}
#kladr_autocomplete li {
  display: list-item;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 8px 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#kladr_autocomplete li + li {
  border-top: 1px solid #ededed;
}
#kladr_autocomplete li:hover {
  background-color: #f2f2f2;
  cursor: pointer;
}
#kladr_autocomplete li.active {
  background-color: #e9e9e9;
}
#kladr_autocomplete a {
  text-decoration: none;
}
#kladr_autocomplete strong {
  color: #ff0000;
}
#kladr_autocomplete .spinner {
  background: rgba(0, 0, 0, 0) url("/bitrix/themes/.default/images/francesco/spinner.png") no-repeat scroll center center;
  display: block;
  height: 16px;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 16px;
  z-index: 9999;
}
ul.bullet {
  margin: 5px 0 20px 0;
}
ul.bullet li {
  list-style: disc;
  padding: 0 0 0 20px;
  margin-left: 15px;
}
.feedback-page .error {
  display: block;
}
.partners-links-page .panel-body .img-responsive {
  margin: 10px auto;
}
.note-buy-text {
  display: block;
  font-size: 11px;
  padding: 10px 0;
  text-align: center;
  width: 130px;
  max-width: 130px;
}
.product-price {
  font-size: 18px;
  color: #ed1c24;
}
.product-oldprice {
  text-decoration: line-through;
  font-size: 12px;
  color: #757575;
}
#product-buy-form #product-buy-button {
  width: 130px;
}
.seladdrpvz {
  font-size: 12px;
  color: #aa0000;
  margin: 0 0 5px 0;
  display: block;
}
.img-responsive {
  width: 100%;
}
@media (min-width: 992px) {
  .product-checkout-details {
    position: relative;
    top: 0;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    background-color: #ffffff;
    z-index: 10;
    bottom: 0;
  }
}
#F_DELIVERY_DATE {
  display: none;
}
.delivery-date-area {
  display: block;
  padding: 10px 0 10px 31px;
}
.order-checkout #checkout-text {
  display: block;
  padding: 10px 0;
  color: #ff0000;
}
.single-product-share {
  display: block;
  padding: 20px 0;
}
.front-panel {
  display: block;
  position: fixed;
  width: 200px;
  overflow: none;
  left: 0;
  bottom: 50px;
  padding: 5px;
  background-color: #ffffff;
  z-index: 1000;
  -webkit-box-shadow: 0 0 10px 0px rgba(64, 64, 64, 0.7);
  box-shadow: 0 0 10px 0px rgba(64, 64, 64, 0.7);
}
.front-panel .row {
  margin: 0;
}
.front-panel .ext-info {
  display: none;
  margin-top: 5px;
  padding-top: 5px;
  border-top: 1px solid #e0e0e0;
}
.front-panel .front-panel-name {
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #e0e0e0;
  background-color: #f0f0f0;
  color: #800000;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
.front-panel.open {
  height: 100%;
  width: 200px;
  bottom: 0;
}
.front-panel.open .ext-info {
  display: block;
}
.front-panel .nav.front-menu > li > a {
  padding: 5px;
}
.front-panel .browser-nav {
  padding: 10px 0;
}
.front-panel .browser-nav a {
  font-size: 25px;
  margin: 0 9px;
}
.front-panel #change-filter-descriptions a,
.front-panel #change-filter-url a {
  font-size: 12px;
  line-height: 15px;
}
.front-panel #change-filter-descriptions a:hover,
.front-panel #change-filter-url a:hover {
  text-decoration: underline;
}
.front-panel .nav.nav-admin-site {
  padding: 0 10px;
}
.front-panel .nav.nav-admin-site > li > a {
  padding: 5px 0;
  color: #000000;
}
.front-panel .nav.nav-admin-site > li > a:hover,
.front-panel .nav.nav-admin-site > li > a:focus {
  background-color: transparent;
  text-decoration: underline;
}
.modal-title {
  display: inline;
}
.size-table-button {
  display: block;
  color: #888888;
  font-size: 0.8em;
  margin: 0;
}
.size-table-button:hover {
  color: #000000;
}
a.bx-filter-param-text:hover {
  text-decoration: underline;
}
.page-offer p {
  text-align: justify;
}
.btn-order-save.btn-disabled {
  background-color: #808080;
  cursor: default;
}
.b-offer-confirm {
  font-weight: normal;
  display: block;
  padding: 10px 0 0 0;
}
.b-offer-confirm a {
  text-decoration: underline;
}
.b_catalog__description span {
  font-weight: bold;
}
.b_catalog__description ul {
  padding: 0 0 0 20px;
}
.b_catalog__description ul li {
  list-style: disc;
}
.top-header .logo a img {
  max-width: 100%;
}
#product-buy-form {
  margin-left: 170px;
}
.product-size-content {
  display: block;
}
.product-size-content a,
.product-size-content span {
  margin: 0 0.5em 0.75em 0;
  padding: 0.5em;
  border: 1px solid #cccccc;
  line-height: 1.4em;
  font-size: 1em;
  display: inline-block;
}
.product-size-content a:hover,
.product-size-content span:hover {
  border-color: #000000;
}
.product-size-content a.notavailabe,
.product-size-content span.notavailabe {
  border-color: #cccccc;
  color: #cccccc;
}
.product-size-content a.selected,
.product-size-content span.selected {
  background-color: #000000;
  border-color: #000000;
  color: #ffffff;
}
.product-sizetable-content {
  display: block;
  margin-left: 170px;
}
.single-product-details h1 span {
  font-size: 16px;
  color: #888888;
  display: block;
}
.price {
  color: #ed1c24;
}
.price .product-oldprice {
  color: #757575;
}
.product-icons {
  margin-top: 20px;
}
.product-icons ul li {
  display: inline-block;
  margin-right: 30px;
  margin-bottom: 20px;
}
body {
  display: inline;
}
.pagination-also {
  text-align: center;
  margin-bottom: 2em;
}
.pagination-also a {
  line-height: 2.5em;
  padding-left: 3em;
  background: url(../img/section.more.png) 0 center no-repeat;
  vertical-align: middle;
  display: inline-block;
}
.pagination-also-loader {
  text-align: center;
  margin-bottom: 2em;
  display: none;
}
.single-product-share > .container > .row {
  background-color: #f0f0f0;
}
.product-sizes {
  display: none;
}
.product-sizes h3 {
  font-size: 12px;
}
.product-sizes ul {
  padding: 0;
  margin: 0;
}
.product-sizes ul li {
  padding: 0.5em;
  margin: 0 0.5em 0.5em 0;
  border: 1px solid #cccccc;
  display: inline-block;
}
.product-item-stub {
  display: none;
}
.product-item-area .product-item {
  border: 1px solid #ffffff;
}
.product-item-area .product-item.hover {
  border: 1px solid #808080;
  position: absolute;
  z-index: 100;
  background-color: #ffffff;
  left: 15px;
  right: 15px;
  top: 0;
}
.product-item-area .product-item.hover .product-sizes {
  display: block;
}
.product-store {
  display: none;
}
.product-store .table {
  display: none;
}
#popup-element-oneclick {
  display: none;
  width: 80%;
  min-height: 80%;
  max-width: 650px;
}
#popup-element-oneclick .form-group.error {
  display: block;
}
.metromap {
  display: block;
  width: 100%;
  position: relative;
}
.metromap .metromapcontent {
  background-size: 0 0;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  position: relative;
}
.metromap .metroitem {
  background: url(../img/basemetro.png) center center no-repeat;
  background-size: cover;
  display: block;
  position: absolute;
  z-index: 100;
}
.metromap .metroshopinfo {
  display: none;
  width: 80%;
  max-width: 650px;
}
.metroshopinfo {
  width: 80%;
  min-height: 80%;
  max-width: 650px;
}
.contact-details {
  margin-top: 2em;
}
.popup-element-oneclick-map {
  display: none;
}
.popup-element-oneclick-form {
  display: none;
}
.contact-details ul.shoplist {
  padding: 0;
  margin: 0;
}
.contact-details ul.shoplist > li {
  list-style: none;
  padding: 0;
  margin: 0 0 3px 0;
}
.contact-details ul.shoplist > li .shop-number {
  display: inline-block;
  height: 100%;
  width: 20px;
  color: #ffffff;
  text-align: center;
  font-size: 10px;
  vertical-align: top;
  margin-top: 4px;
}
.contact-details ul.shoplist > li a {
  font-size: 12px;
}
.contact-details ul.shoplist > li a span {
  font-weight: bold;
}
.contact-details ul.shoplist .metroshopinfo {
  display: none;
  width: 80%;
  max-width: 650px;
}
.b-about-company-block {
  display: block;
  margin: 20px 10px 0 0;
  padding: 10px 30px 0 30px;
  border: 2px solid #000000;
  border-radius: 30px;
  height: 95%;
  font-size: 10px;
}
.b-about-company-block .img-80 {
  max-width: 80%;
  margin: 10px auto;
}
.b-about-company-block .img-50 {
  max-width: 50%;
  margin: 10px auto;
}
.b-about-company-block p {
  font-size: 10px;
}
.row-about-company {
  display: flex;
  margin-bottom: 30px;
}
/*# sourceMappingURL=styles.css.map */