.amoptpub {
  display: block;
  position: fixed;
  bottom: 10px;
  left: 10px;
  background-color: #ffffff;
  border: 3px solid #f8f8f8;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
  z-index: 10000; }
  .amoptpub p {
    padding: 0;
    margin: 0;
    font-size: 12px; }
  .amoptpub ul {
    margin: 2px 0 2px 0;
    padding: 0 0 0 10px; }
    .amoptpub ul li {
      font-size: 11px;
      padding: 0;
      margin: 0; }

/*# sourceMappingURL=public.css.map */
