#order_form_div .sale_data-table.summary td {
	background: #fff !important;
}
#order_form_div {
	font-size: 12px;
	color: #000;
}
#order_form_div .sof-req {
	color: red;
	font-size: 10px;
}
#order_form_div .clear {
	content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
	font-size: 0px;
	line-height: 0px;
}
#order_form_div input[type="text"],
#order_form_div input[type="password"],
#order_form_div textarea,
#order_form_div select{
	background: #fff;
	border: 1px solid #c1c5c8;
	border-radius: 2px;
	color: #000;
	box-shadow: inset 2px 2px 2px -1px rgba(180,188,191,0.5);
	display: inline-block;
	outline: none;
	vertical-align: middle;
	font-size: 14px;
	padding: 6px 8px;
}
#order_form_div .section {
	margin-bottom: 30px;
}
#order_form_div .title {
	font-weight: bold;
	font-size: 15px;
	border-bottom: 1px solid #dcdfe2;
	width: 100%;
	padding-bottom: 5px;
	margin-bottom: 5px;
}
#order_form_div .title a {
	color: #2d739d;
	font-size: 12px;
	text-decoration: underline;
	margin-left: 10px;
	outline: none;
}
#order_form_div .title a:hover {
	text-decoration: none;
}
#order_form_div .label.left {
	float: left;
	margin: 0 10px 10px 0;
}
#order_form_div .sale_order_table {
	font-size: 12px;
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}
#order_form_div .sale_order_table td {
	padding: 15px 0;
	background: none !important;
}
#order_form_div .sale_order_table .name {
	width: 190px;
	text-align: left;
	vertical-align: top;
}
#order_form_div .sale_order_table.props td {
	border-bottom: 1px solid #dcdfe2;
}
#order_form_div .sale_order_table input[type="text"],
#order_form_div .sale_order_table textarea,
#order_form_div .sale_order_table select{
	width: 365px;
}
#order_form_div .sale_order_table textarea {
	height: 70px;
	overflow: hidden;
	resize: none;
}
#order_form_div .sale_order_table select {
	padding: 6px 3px 6px 8px;
	width: 383px;
	margin-bottom: 5px;
}
#order_form_div .sale_order_table .desc {
	color: #a3a3a3;
	font-size: 11px;
	margin: 3px 0;
}

/*paysystem*/
#order_form_div .sale_order_table.paysystem td {
	border-bottom: none;
}
#order_form_div .sale_order_table .logo {
	float: left;
	text-align: center;
	margin: 0 15px 10px 0;
	height: 85px;
}
#order_form_div .sale_order_table .logo img,
#order_form_div  .sale_order_confirm img,
#order_form_div .account img {
	border-radius: 2px;
	border: 1px solid #d1d1d1;
	box-shadow: 2px 2px 2px rgba(180,188,191,0.5);
	padding:1px;
}
#order_form_div .sale_order_table .logo input[type=radio],
#order_form_div .account input[type=checkbox] {
	display: none;
}
#order_form_div .sale_order_table .logo img:hover,
#order_form_div .sale_order_table .logo input[type=radio]:checked + label img {
	border: 2px solid #2d739d;
	cursor: pointer;
	padding:0;
}
#order_form_div .sale_order_table .paysystem_name,
#order_form_div .sale_order_confirm .paysystem_name {
	font-size: 11px;
	color: #a3a3a3;
	width: 95px;
	line-height: 11px;
	margin-top: 3px;
}
#order_form_div .account img,
#order_form_div .account .desc {
	float: left;
}
#order_form_div .account img {
	margin-right: 10px;
}
#order_form_div .account .name {
	font-weight: bold;
	margin-bottom: 3px;
	color: #000;
}
#order_form_div .account .desc {
	font-size: 11px;
	color: #a3a3a3;
	line-height: 11px;
}

#order_form_div .account label:hover img,
#order_form_div .account img.active {
	border: 2px solid #2d739d;
	cursor: pointer;
	padding:0;
}

/*delivery*/
#order_form_div .sale_order_table.delivery td {
	padding: 7px 0;
}
#order_form_div .sale_order_table.delivery .name {
	font-weight: bold;
	width: auto;
	color: #000;
}
#order_form_div .sale_order_table.delivery .desc {
	color: #a3a3a3;
	width: 400px;
}
#order_form_div .sale_order_table.delivery td table {
	width: auto;
}
#order_form_div .sale_order_table.delivery td table td {
	padding: 0;
	text-align: left;
}
#order_form_div .sale_order_table.delivery .prop img {
	border-radius: 2px;
	border: 1px solid #d1d1d1;
	box-shadow: 2px 2px 2px rgba(180,188,191,0.5);
	padding:1px;
	margin: 0 10px 0 0;
}
#order_form_div .sale_order_table.delivery .prop input,
#order_form_div .sale_order_table.delivery .prop img,
#order_form_div .sale_order_table.delivery .prop .desc {
	float: left;
	margin-right: 10px;
}
#order_form_div .sale_order_table.delivery .prop input[type=radio] {
	display: none;
}
#order_form_div .sale_order_table.delivery label:hover img,
#order_form_div .sale_order_table.delivery input[type=radio]:checked + label img,
#order_form_div  div.logo.selected img
{
	border: 2px solid #2d739d;
	cursor: pointer;
	padding:0;
}

/*summary*/
#order_form_div .sale_data-table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	margin-top: 10px;
}
#order_form_div .sale_data-table th {
	background-color: #f5f5f5;
	padding: 7px 13px;
	text-align: left;
	font-weight: normal;
}
#order_form_div .sale_data-table td {
	border-bottom: 1px solid #f5f5f5;
	padding: 7px 13px;
	text-align: left;
	background: none !important;
}
#order_form_div .sale_data-table td.price {
	white-space: nowrap;
	text-align: right;
}
#order_form_div .sale_data-table td.itog {
	text-align: right;
}
#order_form_div .sale_data-table tfoot td {
	border-bottom: none;
}
#order_form_div .sale_data-table tfoot tr.last td {
	border-top: 1px solid #f5f5f5;
	font-weight: bold;
	white-space: nowrap;
}
#order_form_div .order_comment {
	width: 100%;
}
#order_form_div .order_comment div {
	color: #a3a3a3;
	font-size: 12px;
	margin-bottom: 5px;
}
#order_form_div .order_comment textarea {
	width: 97%;
	height: 70px;
}

/* auth */
#order_form_div .order-auth {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}
#order_form_div .order-auth td {
	text-align: left;
	vertical-align: top;
}
#order_form_div .sale_order_table.delivery .errortext {
	margin: 0;
	font-size: 11px;
	padding: 5px;
	width: 230px;
}
#order_form_div .sale_order_full_table td.logo {
	text-align: left;
	vertical-align: top;
}
#order_form_div .sale_order_full_table .logo .pay_name {
	font-weight: bold;
	margin-bottom: 5px;
	font-size: 15px;
}
#order_form_div .desc .ora-store {
	font-size: 12px;
}
.store_location {
	display:none;
}
.store_location .ora-store {
	width: 40%;
	float: left;
}
.store_location .ora-store table td {
	padding: 10px;
	text-align: left;
	vertical-align: top;
}
.store_location .name {
	font-weight: bold;
}
.store_location .location {
	width: 60%;
	float: left;
}
#order_form_div .select_store {
	font-size:12px;
}