a.meanmenu-reveal {
	display: none;
}
.mean-container {
	.mean-bar {
		background: transparent none repeat scroll 0 0;
		float: left;
		min-height: 42px;
		padding: 4px 0 0;
		position: relative;
		width: 100%;
		z-index: 999999;
		-webkit-box-sizing: content-box;
		-moz-box-sizing: content-box;
		box-sizing: content-box;
		* {
			-webkit-box-sizing: content-box;
			-moz-box-sizing: content-box;
			box-sizing: content-box;
		}
		&::after {
			color: #ffffff;
			content: "MENU";
			font-size: 18px;
			left: 5%;
			position: absolute;
			top: 15px;
		}
	}
	a.meanmenu-reveal {
		width: 22px;
		height: 22px;
		padding: 13px 13px 11px;
		top: 0;
		right: 0;
		cursor: pointer;
		color: #fff;
		text-decoration: none;
		font-size: 16px;
		text-indent: -9999em;
		line-height: 22px;
		font-size: 1px;
		display: block;
		font-family: Arial,Helvetica,sans-serif;
		font-weight: 700;
		float: right;
		span {
			display: block;
			background: #fff;
			height: 3px;
			margin-top: 3px;
		}
	}
	.mean-nav {
		float: left;
		width: 100%;
		background: transparent;
		ul {
			padding: 0;
			margin: 0;
			width: 100%;
			list-style-type: none;
			li {
				background: #f8f8f8 none repeat scroll 0 0;
				float: left;
				position: relative;
				width: 100%;
				border-top: 1px solid#ddd;
				a {
					background: #f8f8f8 none repeat scroll 0 0;
					color: #666666;
					display: block;
					float: left;
					font-size: 12px;
					margin: 0;
					padding: 1em 5%;
					text-align: left;
					text-decoration: none;
					text-transform: uppercase;
					width: 90%;
					font-weight: bold;
					&:hover {
						background: #f8f8f8 none repeat scroll 0 0;
						color: #C87065;
					}
				}
				li {
					a {
						border-top: 1px solid rgba(255, 255, 255, 0.25);
						opacity: 0.75;
						padding: 1em 10%;
						text-shadow: none !important;
						visibility: visible;
						width: 80%;
						font-weight: normal;
						text-transform: capitalize;
						color: #444;
					}
					li {
						a {
							width: 70%;
							padding: 1em 15%;
						}
						li {
							a {
								width: 60%;
								padding: 1em 20%;
							}
							li {
								a {
									width: 50%;
									padding: 1em 25%;
								}
							}
						}
					}
				}
				a.mean-expand {
					width: 26px;
					height: 15px;
					margin-top: 1px;
					padding: 12px !important;
					text-align: center;
					position: absolute;
					right: 0;
					top: 0;
					z-index: 2;
					font-weight: 700;
					background: rgba(255,255,255,.1);
					border: 0 !important;
					background: #F8F8F8;
					&:hover {
						background: #f8f8f8;
					}
				}
			}
			li.mean-last {
				a {
					border-bottom: 0;
					margin-bottom: 0;
				}
			}
		}
	}
	.mean-push {
		float: left;
		width: 100%;
		padding: 0;
		margin: 0;
		clear: both;
	}
}
.mobile-menu-area {
	background: #262626;
}
.mean-nav {
	.wrapper {
		width: 100%;
		padding: 0;
		margin: 0;
	}
}
.mean-remove {
	display: none !important;
}
