/*
 * jQuery Nivo Slider v3.2
 * http://nivo.dev7studios.com
 *
 * Copyright 2012, Dev7studios
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */
/* The Nivo Slider styles */
/* #container {
    width:100%;
    height:100%;
    overflow:hidden;
    position:fixed;
    top:0px;
    left:0px;
}
.nivoSlider {
    position:fixed;
    top:-16px;
    left:0px;
}
.nivoSlider img {position:absolute;
    top:0px;
    left:0px;
} */
/* If an image is wrapped in a link */
/* The slices and boxes in the Slider */
/* Caption styles */
/* Direction nav styles (e.g. Next & Prev) */
/* Control nav styles (e.g. 1,2,3...) */
/* .nivo-controlNav {
  padding: 15px 25px 15px 0;
  text-align: right;
} */
/* ------------------------------
Default Theme
---------------------------------*/
/* If an image is wrapped in a link */
/* The slices and boxes in the Slider */
/* The slices and boxes in the Slider */
@-webkit-keyframes "myfirst" {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}
@keyframes "myfirst" {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}
/* ------------------------------
custom slider
---------------------------------*/
/* ------------------------------
slider animation
---------------------------------*/
/* -------------- Home 1  ---------------- */
/* -------------- Home 2  ---------------- */
/* -------------- Home 3  ---------------- */
.nivoSlider {
	position: relative;
	width: 100%;
	height: auto;
	overflow: hidden;
	img {
		position: absolute;
		top: 0px;
		left: 0px;
		max-width: none;
	}
	a.nivo-imageLink {
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		border: 0;
		padding: 0;
		margin: 0;
		z-index: 6;
		display: none;
		background: white;
		filter: alpha(opacity=0);
		opacity: 0;
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		border: 0;
		padding: 0;
		margin: 0;
		z-index: 6;
		display: none;
		background: white;
		filter: alpha(opacity=0);
		opacity: 0;
	}
}
.nivo-main-image {
	display: block !important;
	position: relative !important;
	width: 100% !important;
	display: block !important;
	position: relative !important;
	width: 100% !important;
}
.nivo-slice {
	display: block;
	position: absolute;
	z-index: 5;
	height: 100%;
	top: 0;
	display: block;
	position: absolute;
	z-index: 5;
	height: 100%;
	top: 0;
	display: block;
	position: absolute;
	z-index: 5;
	height: 100%;
	top: 0;
}
.nivo-box {
	display: block;
	position: absolute;
	z-index: 5;
	overflow: hidden;
	display: block;
	position: absolute;
	z-index: 5;
	overflow: hidden;
	display: block;
	position: absolute;
	z-index: 5;
	overflow: hidden;
	img {
		display: block;
		display: block;
	}
}
.nivo-caption {
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 100%;
	z-index: 8;
	padding: 5px 10px;
	opacity: 0.8;
	overflow: hidden;
	display: none;
	-moz-opacity: 0.8;
	filter: alpha(opacity=8);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 8;
}
.nivo-html-caption {
	display: none;
}
.nivo-directionNav {
	a {
		color: #666;
		cursor: pointer;
		font-size: 20px;
		height: 53px;
		line-height: 53px;
		margin-top: -26px;
		padding-left: 5px;
		position: absolute;
		top: 50%;
		width: 32px;
		z-index: 9;
		&:hover {
			color: #fff;
			&::after {
				border-bottom: 26px solid transparent;
				border-left: 32px solid #C8A165;
				border-top: 26px solid transparent;
			}
		}
		&::after {
			border-bottom: 26px solid transparent;
			border-left: 32px solid #F9F9F8;
			border-top: 26px solid transparent;
			content: "";
			left: 0;
			position: absolute;
			top: 0;
			z-index: -1;
			transition: all 0.5s ease 0s;
		}
	}
	a.nivo-nextNav {
		&::after {
			transform: rotate(180deg);
		}
	}
}
.nivo-prevNav {
	left: 0px;
}
.nivo-nextNav {
	padding-right: 5px;
	right: 0;
	text-align: right;
}
.nivo-controlNav {
	a {
		cursor: pointer;
		font-size: 0;
	}
	a.active {
		font-weight: bold;
	}
}
.slider-direction {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	background: none;
	color: #fff;
	font-size: 16px;
	z-index: 999;
	display: none;
}
.slider-progress.pos_hover {
	-webkit-animation-play-state: paused;
	animation-play-state: paused;
}
.slider-progress {
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(255, 255, 255, .7);
	height: 5px;
	-webkit-animation: myfirst 5000ms ease-in-out;
	-moz-animation: myfirst 5000ms ease-in-out;
	-ms-animation: myfirst 5000ms ease-in-out;
	animation: myfirst 5000ms ease-in-out;
}
.s-tb {
	display: table;
	height: 100%;
	width: 100%;
	float: left;
}
.s-tb-c {
	display: table-cell;
	vertical-align: middle;
}
.t-cn {
	text-align: center;
}
.t-lft {
	text-align: left;
}
.t-lfr {
	text-align: right;
}
.home1 {
	.slider-1 {
		h1 {
			-webkit-animation: bounceInUp 1000ms ease-in-out;
			-moz-animation: bounceInUp 1000ms ease-in-out;
			-ms-animation: bounceInUp 1000ms ease-in-out;
			animation: bounceInUp 1000ms ease-in-out;
		}
		h2 {
			-webkit-animation: fadeInRight 1500ms ease-in-out;
			-moz-animation: fadeInRight 1500ms ease-in-out;
			-ms-animation: fadeInRight 1500ms ease-in-out;
			animation: fadeInRight 1500ms ease-in-out;
		}
	}
	.slider-2 {
		h1 {
			-webkit-animation: fadeInLeft 500ms ease-in-out;
			-moz-animation: fadeInLeft 500ms ease-in-out;
			-ms-animation: fadeInLeft 500ms ease-in-out;
			animation: fadeInLeft 500ms ease-in-out;
		}
		h3 {
			-webkit-animation: fadeInLeft 1500ms ease-in-out;
			-moz-animation: fadeInLeft 1500ms ease-in-out;
			-ms-animation: fadeInLeft 1500ms ease-in-out;
			animation: fadeInLeft 1500ms ease-in-out;
		}
	}
}
.home2 {
	.slider-2 {
		h1 {
			-webkit-animation: fadeInLeft 500ms ease-in-out;
			-moz-animation: fadeInLeft 500ms ease-in-out;
			-ms-animation: fadeInLeft 500ms ease-in-out;
			animation: fadeInLeft 500ms ease-in-out;
		}
		h3 {
			-webkit-animation: fadeInLeft 1500ms ease-in-out;
			-moz-animation: fadeInLeft 1500ms ease-in-out;
			-ms-animation: fadeInLeft 1500ms ease-in-out;
			animation: fadeInLeft 1500ms ease-in-out;
		}
	}
	.layer-1 {
		-webkit-animation: fadeInLeft 1500ms ease-in-out;
		-moz-animation: fadeInLeft 1500ms ease-in-out;
		-ms-animation: fadeInLeft 1500ms ease-in-out;
		animation: fadeInLeft 1500ms ease-in-out;
	}
	.layer-2 {
		-webkit-animation: bounceInUp 1000ms ease-in-out;
		-moz-animation: bounceInUp 1000ms ease-in-out;
		-ms-animation: bounceInUp 1000ms ease-in-out;
		animation: bounceInUp 1000ms ease-in-out;
	}
	.layer-3 {
		-webkit-animation: fadeInRight 1500ms ease-in-out;
		-moz-animation: fadeInRight 1500ms ease-in-out;
		-ms-animation: fadeInRight 1500ms ease-in-out;
		animation: fadeInRight 1500ms ease-in-out;
	}
	.layer-1-1 {
		-webkit-animation: fadeInRight 1500ms ease-in-out;
		-moz-animation: fadeInRight 1500ms ease-in-out;
		-ms-animation: fadeInRight 1500ms ease-in-out;
		animation: fadeInRight 1500ms ease-in-out;
	}
}
.home3 {
	.slider-1 {
		h1 {
			-webkit-animation: fadeInLeft 500ms ease-in-out;
			-moz-animation: fadeInLeft 500ms ease-in-out;
			-ms-animation: fadeInLeft 500ms ease-in-out;
			animation: fadeInLeft 500ms ease-in-out;
		}
		h3 {
			-webkit-animation: fadeInLeft 1500ms ease-in-out;
			-moz-animation: fadeInLeft 1500ms ease-in-out;
			-ms-animation: fadeInLeft 1500ms ease-in-out;
			animation: fadeInLeft 1500ms ease-in-out;
		}
	}
	.slider-2 {
		h1 {
			-webkit-animation: bounceInUp 1000ms ease-in-out;
			-moz-animation: bounceInUp 1000ms ease-in-out;
			-ms-animation: bounceInUp 1000ms ease-in-out;
			animation: bounceInUp 1000ms ease-in-out;
		}
		h3 {
			-webkit-animation: fadeInLeft 1500ms ease-in-out;
			-moz-animation: fadeInLeft 1500ms ease-in-out;
			-ms-animation: fadeInLeft 1500ms ease-in-out;
			animation: fadeInLeft 1500ms ease-in-out;
		}
	}
	.slider-3 {
		h1 {
			-webkit-animation: fadeInRight 500ms ease-in-out;
			-moz-animation: fadeInRight 500ms ease-in-out;
			-ms-animation: fadeInRight 500ms ease-in-out;
			animation: fadeInRight 500ms ease-in-out;
		}
		h3 {
			-webkit-animation: fadeInRight 1500ms ease-in-out;
			-moz-animation: fadeInRight 1500ms ease-in-out;
			-ms-animation: fadeInRight 1500ms ease-in-out;
			animation: fadeInRight 1500ms ease-in-out;
		}
	}
}
