/*
Skin Name: Nivo Slider Default Theme
Skin URI: http://nivo.dev7studios.com
Description: The default skin for the Nivo Slider.
Version: 1.3
Author: Gilbert Pellegrom
Author URI: http://dev7studios.com
Supports Thumbs: true
*/
/* -------------------------------------
preview-1 
---------------------------------------- */
/* -------------------------------------
preview-2
---------------------------------------- */
/* .preview-2 .nivoSlider:hover .nivo-directionNav a.nivo-prevNav {
  left: 15px;
} */
/* .preview-2 .nivoSlider:hover .nivo-directionNav a.nivo-nextNav{
  right: 33px;
} */
/* .preview-2 .nivoSlider .nivo-directionNav a {
  color: #000;
  font-size: 20px;
  height: 53px;
  line-height: 53px;
  text-align: center;
  width: 32px;
} */
/* 
.preview-2 .nivo-directionNav a.nivo-prevNav:before{
  background: rgba(0,0,0,0.25);
  content: "\f053";
  font: normal normal normal 14px/1 FontAwesome;
  color: #fff;
  cursor: pointer;
  font-size: 11px;
  font-weight: 400;
  height: 53px;
  line-height: 50px;
  margin: 0;
  position: absolute;
  text-align: center;
  top: 45%;
  transition: all 300ms ease-in 0s;
  width: 32px;
  z-index: 9;
}
.preview-2 .nivo-directionNav a.nivo-nextNav:hover:before{
  background:#fff;
  color: #000
}
.preview-2 .nivo-directionNav a.nivo-nextNav:before{
  background: rgba(0,0,0,0.25);
  content: "\f054";
  font: normal normal normal 14px/1 FontAwesome;
  color: #fff;
  cursor: pointer;
  font-size: 11px;
  font-weight: 400;
  height: 53px;
  line-height: 50px;
  margin: 0;
  position: absolute;
  text-align: center;
  top: 45%;
  transition: all 300ms ease-in 0s;
  width: 32px;
  z-index: 9;
} */
.preview-1 {
	.nivoSlider {
		position: relative;
		background: url(../img/loading.gif) no-repeat 50% 50%;
		img {
			position: absolute;
			top: 0px;
			left: 0px;
			display: none;
		}
		a {
			border: 0;
			display: block;
		}
	}
	.nivo-controlNav {
		text-align: center;
		padding: 20px 0;
		position: relative;
		z-index: 99999;
		bottom: 68px;
		a {
			display: inline-block;
			width: 22px;
			height: 22px;
			background: url(../img/bullets.png) no-repeat;
			text-indent: -9999px;
			border: 0;
			margin: 0 2px;
			border: 5px solid #fff;
			display: inline-block;
			height: 18px;
			margin: 0 5px;
			text-indent: -9999px;
			width: 18px;
			line-height: 8px;
			background: #3c3c3c;
			cursor: pointer;
			position: relative;
			z-index: 9;
			border-radius: 100%;
			opacity: 0;
			z-index: -999;
			&:hover {
				background: #000;
				cursor: pointer;
			}
		}
		a.active {
			background-position: 0 -22px;
			background: #000;
			cursor: pointer;
		}
	}
	.nivo-directionNav {
		a {
			display: block;
			width: 30px;
			height: 30px;
			background: url(../img/arrows.png) no-repeat;
			text-indent: -9999px;
			border: 0;
			opacity: 0;
			-webkit-transition: all 200ms ease-in-out;
			-moz-transition: all 200ms ease-in-out;
			-o-transition: all 200ms ease-in-out;
			transition: all 200ms ease-in-out;
		}
	}
	&:hover {
		.nivo-directionNav {
			a {
				opacity: 1;
			}
		}
		.nivo-controlNav {
			a {
				opacity: 1;
				z-index: 999999;
			}
		}
	}
	a.nivo-nextNav {
		background-position: -30px 0;
		right: 15px;
	}
	a.nivo-prevNav {
		left: 15px;
	}
	.nivo-caption {
		font-family: Helvetica, Arial, sans-serif;
		a {
			color: #fff;
			border-bottom: 1px dotted #fff;
			&:hover {
				color: #fff;
			}
		}
	}
	.nivo-controlNav.nivo-thumbs-enabled {
		width: 100%;
		a {
			width: auto;
			height: auto;
			background: none;
			margin-bottom: 5px;
		}
		img {
			display: block;
			width: 120px;
			height: auto;
		}
	}
}
.preview-2 {
	.nivoSlider {
		.nivo-directionNav {
			a.nivo-prevNav {
				left: 0;
			}
			a.nivo-nextNav {
				right: 0;
			}
		}
	}
	.nivo-directionNav {
		a.nivo-prevNav {
			&:hover {
				&:before {
					background: #fff;
					color: #000;
				}
			}
		}
	}
	.nivo-controlNav {
		bottom: 20px;
		margin: auto;
		position: absolute;
		right: 30px;
		z-index: 99999;
		a {
			display: inline-block;
			height: 8px;
			margin: 0 5px;
			text-indent: -9999px;
			width: 8px;
			line-height: 8px;
			background: #CCCCCC;
			cursor: pointer;
			position: relative;
			z-index: 9;
			border-radius: 100%;
			z-index: 999;
			&:hover {
				background: #C8A165;
				cursor: pointer;
			}
		}
		a.active {
			background: #C8A165;
			cursor: pointer;
		}
	}
}
.bend.niceties.preview-2 {
	position: relative;
}
