@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,700');

body {
  line-height: 1.5;
  font-family: $primary-font;
}
p {
  font-family: $primary-font;
  color: #757575;
  font-size:14px;
  font-weight:200;
}
h1,h2,h3,h4,h5,h6 {
  font-family: $primary-font;
}
h1, h2, h3, h4, h5, h6 {
	font-weight:400;
}

