
@font-face {
    font-family: 'fontello';
    src: url('../fonts/fontello.eot?46131419');
    src: url('../fonts/fontello.eot?46131419#iefix') format('embedded-opentype'),
        url('../fonts/fontello.woff2?46131419') format('woff2'),
        url('../fonts/fontello.woff?46131419') format('woff'),
        url('../fonts/fontello.ttf?46131419') format('truetype'),
        url('../fonts/fontello.svg?46131419#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="tff-"], [class*=" tff-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'fontello' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.tff-ion-social-vk:before { content: "\e800"; }
.tff-ion-social-ok:before { content: "\f30c"; }

