@font-face {
	font-family: 'AvenirNextCyr';
	src: url('../fonts/AvenirNextCyr-Demi.eot');
	src: local('☺'), 
            url('../fonts/AvenirNextCyr-Demi.woff') format('woff'), 
            url('../fonts/AvenirNextCyr-Demi.ttf') format('truetype'), 
            url('../fonts/AvenirNextCyr-Demi.svg') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'AvenirNextCyr';
	src: url('../fonts/AvenirNextCyr-Heavy.eot');
	src: local('☺'), 
            url('../fonts/AvenirNextCyr-Heavy.woff') format('woff'), 
            url('../fonts/AvenirNextCyr-Heavy.ttf') format('truetype'), 
            url('../fonts/AvenirNextCyr-Heavy.svg') format('svg');
	font-weight: bolder;
	font-style: normal;
}

@font-face {
	font-family: 'AvenirNextCyr';
	src: url('../fonts/AvenirNextCyr-Italic.eot');
	src: local('☺'), 
            url('../fonts/AvenirNextCyr-Italic.woff') format('woff'), 
            url('../fonts/AvenirNextCyr-Italic.ttf') format('truetype'), 
            url('../fonts/AvenirNextCyr-Italic.svg') format('svg');
	font-weight: normal;
	font-style: initial;
}

@font-face {
	font-family: 'AvenirNextCyr';
	src: url('../fonts/AvenirNextCyr-Light.eot');
	src: local('☺'), 
            url('../fonts/AvenirNextCyr-Light.woff') format('woff'), 
            url('../fonts/AvenirNextCyr-Light.ttf') format('truetype'), 
            url('../fonts/AvenirNextCyr-Light.svg') format('svg');
	font-weight: lighter;
	font-style: normal;
}

@font-face {
	font-family: 'AvenirNextCyr';
	src: url('../fonts/AvenirNextCyr-Regular.eot');
	src: local('☺'), 
            url('../fonts/AvenirNextCyr-Regular.woff') format('woff'), 
            url('../fonts/AvenirNextCyr-Regular.ttf') format('truetype'), 
            url('../fonts/AvenirNextCyr-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
