.header-hide-title{
    .dropdown-toggle{
        span{
            display:none;
        }
    }
}

#header-login-content{
    .account .block {
        border: 0 none;
        margin: 0;
    }
    .account .block h2 {
        margin-top: 0;
    }
}

#basket_form
{
    .product-quantity-slider {
        width: 140px;
        display: inline-block;
    }

    .product-quantity-slider input {
        height: 34px;
    }

    .product-quantity-slider .input-group-btn:first-child > .btn, 
        .product-quantity-slider .p-quantity .input-group-btn:first-child > .btn-group {
        margin-right: -2px;
    }

    .product-quantity-slider button {
        border-radius: 0;
    }
}

.panel-map{width:100%;height:300px;display:block;margin-top:20px;}
#mapDalliPickpont{width:100%;height:500px;display:block;margin:20px 0;}

.contact-details{
	h3{font-size:20px;}
	ul{
		margin: 5px 0 20px 0;
		li{
			list-style:disc;
			padding: 0 0 0 20px;
			margin-left:15px;
		}
	}
}

.kladr-error {color: #cb3e27;}
#kladr_autocomplete{
	ul {background-color: #fff;border: 1px solid #c4c4c4;color: #313131;display: block;margin: 0;max-height: 420px;min-width: 300px;overflow-x: hidden;overflow-y: auto;padding: 0;position: absolute;z-index: 9999;}
	li {display: list-item;list-style-type: none;margin: 0;overflow: hidden;padding: 8px 10px;text-overflow: ellipsis;white-space: nowrap;}
	li + li {border-top: 1px solid #ededed;}
	li:hover {background-color: #f2f2f2;cursor: pointer;}
	li.active {background-color: #e9e9e9;}
	a {text-decoration: none;}
	strong {color: #ff0000;}
	.spinner {background: rgba(0, 0, 0, 0) url("/bitrix/themes/.default/images/francesco/spinner.png") no-repeat scroll center center;display: block;height: 16px;margin: 0;padding: 0;position: absolute;width: 16px;z-index: 9999;}
}

ul.bullet{
	margin: 5px 0 20px 0;
	li{
		list-style:disc;
		padding: 0 0 0 20px;
		margin-left:15px;
	}
}

.feedback-page{
	.error{
		display:block;
	}
}

.partners-links-page{
	.panel-body{
		.img-responsive{margin:10px auto;}
	}
}

.note-buy-text{
	display:block;
	font-size:11px;
	padding: 10px 0;
	text-align:center;
	width:130px;
	max-width:130px;
}

.product-price{
	font-size:18px;
	color:#ed1c24;

}
.product-oldprice{
	text-decoration: line-through;
	font-size:12px;
	color:#757575;
}

#product-buy-form{
	#product-buy-button{width:130px;}
}

.seladdrpvz{
	font-size:12px;
	color:#aa0000;
	margin: 0 0 5px 0;
	display:block;
}
.img-responsive{width:100%;}

@media (min-width: 992px) {
	.product-checkout-details{
		position:relative;
		top:0;
		-webkit-transition: all .5s;
		-o-transition: all .5s;
		transition: all .5s;
		background-color:#ffffff;
		z-index:10;
		bottom:0;
	}
}

#F_DELIVERY_DATE{display:none;}
.delivery-date-area{display:block;padding: 10px 0 10px 31px;}

.order-checkout{
	#checkout-text{
		display:block;
		padding:10px 0;
		color:#ff0000;
	}
}

.single-product-share{
	display:block;
	padding: 20px 0;
}

.front-panel{
	display:block;position: fixed;width:200px;overflow: none;left:0;bottom:50px;padding:5px;background-color: #ffffff;z-index:1000;
	-webkit-box-shadow: 0 0 10px 0px rgba(64, 64, 64, 0.7);
	box-shadow: 0 0 10px 0px rgba(64, 64, 64, 0.7);
	.row{margin:0;}
	.ext-info{display:none;margin-top:5px;padding-top:5px;border-top:1px solid #e0e0e0;}
	.front-panel-name{margin-bottom: 5px;padding-bottom: 5px;border-bottom:1px solid #e0e0e0;background-color: #f0f0f0;color: #800000;font-size: 16px;font-weight: bold;text-align: center;}

	&.open{
		height:100%;width:200px;bottom:0;
		.ext-info{display: block;}
	}
	.nav.front-menu > li > a{padding:5px;}
	.browser-nav{
		padding:10px 0;
		a{font-size:25px;margin:0 9px;}
	}
	#change-filter-descriptions,#change-filter-url{
		a{
			font-size:12px;line-height:15px;
			&:hover{text-decoration: underline;}
		}
	}
	.nav{
		&.nav-admin-site{
			padding:0 10px;
			>li{
				>a{
					padding: 5px 0;color:#000000;
					&:hover,&:focus{background-color:transparent;text-decoration: underline;}
				}
			}
		}
	}

}

.modal-title{
	display:inline;
}
.size-table-button{
	display:block;
	color:#888888;
	font-size:0.8em;
	margin:0;
	&:hover{
		color:#000000;
	}
}

a.bx-filter-param-text{
	&:hover{
		text-decoration:underline;
	}
}

.page-offer{
	p{
		text-align:justify;
	}
}

.btn-order-save{
	&.btn-disabled{
		background-color:#808080;
		cursor:default;
	}
}

.b-offer-confirm{
	font-weight:normal;
	display:block;
	padding: 10px 0 0 0;
	a{
		text-decoration: underline;
	}
}

.b_catalog__description{
	span{font-weight:bold;}
	ul{
		padding: 0 0 0 20px;
		li{
			list-style: disc;
		}
	}
}

.top-header .logo a img{
	max-width:100%;
}

#product-buy-form{
	margin-left:170px;
}

.product-size-content{
	display:block;
	a, span{
		margin: 0 0.5em 0.75em 0;
		padding:0.5em;
		border: 1px solid #cccccc;
		line-height:1.4em;
		font-size:1em;
		display:inline-block;
		&:hover{
			border-color:#000000;
		}
		&.notavailabe{
			border-color:#cccccc;
			color:#cccccc;
		}
		&.selected{
			background-color:#000000;
			border-color:#000000;
			color:#ffffff;
		}
	}
}

.product-sizetable-content{
	display:block;
	margin-left:170px;
}

.single-product-details h1{
	span{
		font-size:16px;
		color:#888888;
		display:block;
	}
}

.price{
	color:#ed1c24;
	.product-oldprice{
		color:#757575;
	}
}

.product-icons{
	margin-top: 20px;
	ul{
		li{
			display: inline-block;
			margin-right: 30px;
			margin-bottom: 20px;
		}
	}
}
body{
	display:inline;
}

.pagination-also{
	text-align:center;
	margin-bottom:2em;
	a{
		line-height:2.5em;
		padding-left: 3em;
		background: url(../img/section.more.png) 0 center no-repeat;
		vertical-align: middle;
		display:inline-block;
	}
}
.pagination-also-loader{
	text-align:center;
	margin-bottom:2em;
	display:none;
}

.single-product-share > .container > .row{
	background-color: #f0f0f0;
}

.product-sizes{
	display:none;
	h3{
		font-size:12px;
	}
	ul{
		padding:0;
		margin:0;
		li{
			padding: 0.5em;
			margin: 0 0.5em 0.5em 0;
			border: 1px solid #cccccc;
			display:inline-block;
		}
	}
}
.product-item-stub{
	display:none;
}
.product-item-area{
	.product-item{
		border:1px solid #ffffff;
		&.hover{
			border:1px solid #808080;
			position:absolute;
			z-index:100;
			background-color:#ffffff;
			left:15px;
			right:15px;
			top:0;
			.product-sizes{
				display:block;
			}
		}
	}
}

.product-store{
	display:none;
	.table{
		display:none;
	}
}

#popup-element-oneclick{
	display:none;
	width:80%;
	min-height:80%;
	max-width:650px;
	.form-group{
		&.error{
			display:block;
		}
	}
}

.metromap{
	display:block;
	width:100%;
	position:relative;
	.metromapcontent{
		background-size: 0 0;
		background-position: center center;
		background-repeat: no-repeat;
		width:100%;
		position:relative;
	}
	.metroitem{
		background:url(../img/basemetro.png) center center no-repeat;
		background-size: cover;
		display:block;
		position:absolute;
		z-index:100;
	}
	.metroshopinfo{
		display:none;
		width:80%;
		max-width:650px;
	}
}
.metroshopinfo{
	width:80%;
	min-height:80%;
	max-width:650px;
}

.contact-details{
	margin-top:2em;
}

.popup-element-oneclick-map{
	display:none;
}
.popup-element-oneclick-form{
	display:none;
}

.contact-details
{
	ul.shoplist{
		padding:0;
		margin:0;
		>li{
			list-style: none;
			padding:0;
			margin: 0 0 3px 0;
			.shop-number{
				display:inline-block;
				height:100%;
				width:20px;
				color:#ffffff;
				text-align:center;
				font-size:10px;
				vertical-align: top;
				margin-top: 4px;
			}
			a{
				font-size:12px;
				span{
					font-weight:bold;
				}
			}
		}
		.metroshopinfo{
			display:none;
			width:80%;
			max-width:650px;
		}
	}
}

.b-about-company-block{
	display: block;
	margin: 20px 10px 0 0;
	padding: 10px 30px 0 30px;
	border: 2px solid #000000;
	border-radius: 30px;
	height: 95%;
	font-size:10px;
	.img-80{
		max-width: 80%;
		margin: 10px auto;
	}
	.img-50{
		max-width: 50%;
		margin: 10px auto;
	}
	p{
		font-size:10px;
	}
}
.row-about-company{
	display:flex;
	margin-bottom: 30px;
}