.articles {
	&-item {
		display: block;
		background: none no-repeat top right;
		background-size: cover;
		height: 475px;
		margin-top: 20px;
		position: relative;

		&:nth-of-type(odd) {
			margin-left: 20px;
		}

		&__data {
			position: absolute;
			top: 30px;
			left: 30px;
			font-size: 18px;
			color: #383838;
			font-family: 'Proxima Nova Rg';
			font-weight: normal;
			text-transform: uppercase;
			line-height: 24px;
			padding: 10px;
			background-color: rgba(255, 255, 255, 0.5);

			span {
				border-bottom: 1px solid #4dc4dc;
			}
		}

		&__content {
			position: absolute;
			left: 30px;
			max-width: 400px;
			max-height: 250px;
			overflow: hidden;
			display: block;
			bottom: 100px;
			padding: 10px;
			background-color: rgba(255, 255, 255, 0.5);

			&-name {
				font-size: 26px;
				color: #383838;
				font-family: 'Proxima Nova Th';
				font-weight: 800;
				font-style: normal;
				text-transform: uppercase;

				&:hover {
					color: #383838;
				}
			}

			&-text {
			}
		}

		&__detail {
			position: absolute;
			left: 30px;
			bottom: 27px;

			&-button {
				border: 3px solid #4dc4dc;
				line-height: 53px;
				font-size: 18px;
				color: #383838;
				text-transform: uppercase;
				font-family: 'Proxima Nova Lt';
				font-weight: 600;
				font-style: normal;
				padding: 0 70px;
				display: inline-block;
				background-color: rgba(255, 255, 255, 0.8);

				&:hover {
					text-decoration: none;
					background-color: rgba(255, 255, 255, 1);
				}
			}
		}
	}
}

.article-detail {
	h1 {
	}

	&__banner {
		display: block;
		height: 360px;
		background: none no-repeat top right;
		background-size: cover;
		margin-bottom: 20px;
		position: relative;

		&-data {
			position: absolute;
			top: 30px;
			left: 30px;
			font-size: 18px;
			color: #383838;
			font-family: 'Proxima Nova Rg';
			font-weight: normal;
			text-transform: uppercase;
			line-height: 24px;
			padding: 10px;
			background-color: rgba(255, 255, 255, 0.5);

			span {
				border-bottom: 1px solid #4dc4dc;
			}
		}

		&-content {
			position: absolute;
			left: 30px;
			max-width: 50%;
			max-height: 250px;
			overflow: hidden;
			display: block;
			top: 100px;
			padding: 10px;
			background-color: rgba(255, 255, 255, 0.5);

			h1 {
				font-size: 48px;
				color: #383838;
				font-family: 'Proxima Nova Th';
				font-weight: 800;
				font-style: normal;
				text-transform: uppercase;
				padding: 0;
				margin: 0;

				&:hover {
					color: #383838;
				}
			}
		}
	}

	&__content {
		display: block;
		padding: 50px 25px;
		background-color: #ffffff;
		font-family: "Open Sans";
		font-weight: normal;
		font-size: 18px;
		color: #383838;
		margin-right: 25px;

		p {
			text-align: justify;
		}
		img{
			max-width:100%;
		}
	}

	&__lates {
		h2 {
			display: block;
			text-align: center;
			margin-top: 10px;
			font-size: 26px;
			color: #4dc4dc;
			font-family: 'Proxima Nova Th';
			font-weight: 800;
			font-style: normal;
			text-transform: uppercase;
			border-bottom: 2px solid #4dc4dc;
		}
	}
}