.basket {
	&-table {
		width: 100%;

		tbody {
			tr {
				&:nth-of-type(2n+1) {
					td {
						background-color: #fafafa;
					}
				}
			}
		}

		&__header {
			font-size: 20px;
			color: #383838;
			font-family: 'Proxima Nova Lt';
			font-weight: 600;
			font-style: normal;
			padding: 15px 10px;
			text-align: center;
			border-bottom: 1px solid #a2a2a2;

			&_photo {
			}

			&_name {
			}

			&_article {
			}

			&_size {
			}

			&_color {
			}

			&_cnt {
			}

			&_price {
			}

			&_delete {
			}

			&-delete-icon {
				display: block;
				width: 26px;
				height: 26px;
				background: url(../img/basket-header.png) center center no-repeat;
			}
		}

		&__body {
			font-size: 22px;
			color: #383838;
			font-family: 'Proxima Nova Rg';
			font-weight: normal;
			font-style: normal;
			padding: 15px 10px;
			text-align: center;
			border-bottom: 1px solid #a2a2a2;

			&-link {
				color: #383838;

				&:hover {
					color: #383838;
				}
			}

			&-plusminus {
				display: flex;
				align-content: center;
				align-items: center;
				justify-content: center;

				&-box {
					text-align: center;
					border: 0 none;
					background-color: transparent;

					&:active, &:focus {
						background-color: #ffffff;
					}
				}
			}

			&-plus {
				display: inline-block;
				width: 27px;
				height: 27px;
				background: url(../img/basket-plus.png) 0 0 no-repeat;
				cursor: pointer;
				margin-left: 10px;

				&:hover {
					background: url(../img/basket-plus-hover.png) 0 0 no-repeat;
				}
			}

			&-minus {
				display: inline-block;
				width: 27px;
				height: 27px;
				background: url(../img/basket-minus.png) 0 0 no-repeat;
				cursor: pointer;
				margin-right: 10px;

				&:hover {
					background: url(../img/basket-minus-hover.png) 0 0 no-repeat;
				}
			}

			&_photo {
			}

			&_name {
				text-align: left;
			}

			&_article {
			}

			&_size {
			}

			&_color {
			}

			&_cnt {
			}

			&_price {
				.oldprice {
					display: block;
					text-decoration: line-through;
					font-size: 18px;
					color: #cccccc;
				}
			}

			&_delete {
			}

			&-delete {
				display: block;
				width: 22px;
				height: 22px;
				background: url(../img/basket-del.png) center center no-repeat;

				&:hover {
					background: url(../img/basket-del-act.png) center center no-repeat;
				}
			}

			&-prop {
				&-title {
					display: none;
				}
			}

			&-price {
				&-title {
					display: none;
				}
			}
		}

		&__footer {
			&-coupon {
				vertical-align: top;

				&-area {
					display: flex;
					margin-top: 20px;

					&-text {
						font-size: 20px;
						color: #383838;
						font-family: 'Proxima Nova Rg';
						font-weight: normal;
						font-style: normal;
						line-height: 48px;
					}

					&-inputarea {
						padding: 0 30px;
					}

					&-button-area {
					}

					&-input {
						border: 1px solid #383838;
						border-radius: 3px;
						line-height: 48px;
						padding: 0 20px;
						width: 100%;
						min-width: 250px;
					}

					&-button {
						background-color: transparent;
						border: 0 none;
						line-height: 48px;
						text-decoration: underline;
						color: #9b9b9b;

						&:hover {
							text-decoration: none;
							color: #383838;
						}
					}
				}
			}

			&-total {
				vertical-align: top;

				&-area {
					margin-top: 10px;
					font-size: 30px;
					color: #383838;
					text-transform: uppercase;
					font-family: 'Proxima Nova Lt';
					font-weight: 600;
					font-style: normal;
					width: 350px;
					text-align: center;
					float: right;
				}
			}

			&-checkout {
				width: 100%;
				border: 0 none;
				background-color: #4dc4dc;
				line-height: 77px;
				padding: 0 10px;
				color: #ffffff;
				font-size: 24px;
				color: #ffffff;
				font-family: 'Proxima Nova Lt';
				font-weight: 600;
				font-style: normal;
				margin-top: 30px;
			}
		}
	}

	&-header {
		h1 {
			text-align: left;
			color: #383838;
			font-size: 48px;
			text-transform: none;
			font-family: 'Proxima Nova Lt';
			font-weight: 600;
			font-style: normal;
		}
	}
}

@media (max-width: 991.99px) {
	.basket {
		&-table {
			width: 100%;

			&__header {
				display: none;
			}

			&__body {
				padding: 3px;
				border-bottom: 0 none;

				&-row {
					display: flex;
					flex-wrap: wrap;
					align-items: center;
					border-top: 1px solid #a2a2a2;
				}

				&_photo {
					max-width: 40%;
					flex-basis: 40%;
					order: -1;
				}

				&_name {
					text-align: left;
					width: 100%;
					flex-basis: 100%;
					text-transform: uppercase;
				}

				&_article {
					display: none;
				}

				&_size {
					width: 100%;
					flex-basis: 100%;

					&-empty {
						display: none;
					}
				}

				&_color {
					width: 100%;
					flex-basis: 100%;

					&-empty {
						display: none;
					}
				}

				&_cnt {
					max-width: 50%;
					flex-basis: 50%;
					order: -1;
				}

				&_price {
					flex-basis: 100%;
				}

				&_delete {
					order: -2;
					flex-basis: 50px;
				}

				&-prop {
					display: flex;
					padding: 5px;
					justify-content: flex-start;
					background-color: #e8e8e8;

					&-title {
						padding: 5px 10px;
						display: inline;
						text-transform: uppercase;
						color: #808080;
						text-align: left;
						width: 50%;
						flex-basis: 50%;
					}

					&-val {
						background-color: #ffffff;
						padding: 5px 10px;
						width: 50%;
						flex-basis: 50%;
					}
				}

				&-price {
					display: flex;
					padding: 5px 0;
					justify-content: flex-end;

					&-title {
						display: inline;
						flex-grow: 1;
						text-align: right;
						padding-right: 20px;
					}

					&-val {

					}
				}
			}

			&__footer {

				&-row {
					border-top: 1px solid #a2a2a2;
					display: flex;
					flex-wrap: wrap;
				}

				&-coupon {

					&-area {
						display: flex;
						flex-wrap: wrap;

						&-text {
							flex-basis: 150px;
						}

						&-inputarea {
							padding: 0 0 0 30px;
							flex-grow: 1;
						}

						&-button {
							&-area {
								margin-left: 150px;
								flex-grow: 1;
								text-align: center;
							}
						}
					}
				}

				&-total {
					flex-basis: 100%;

					&-area {
						display: flex;
						flex-wrap: wrap;
						justify-content: space-between;
						width: 100%;
						text-align: center;
						float: none;
					}
				}

				&-checkout {
					width: 100%;
					flex-basis: 100%;
				}
			}
		}

		&-header {
			h1 {
				font-size: 36px;
			}
		}
	}


}
