.brands-top{
	padding: 65px 0;
	h2{
		display: block;
		margin: 0 auto;
		text-align: center;
		font-family: 'Proxima Nova Th';
		font-weight: 800;
		font-size:36px;
		text-transform: uppercase;
		color:#878787;
		span{
			padding: 0 30px;
			border-bottom: 1px solid #878787;
		}
	}
}

.brand-cards {
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-content: center;
}

.brand-card {
	display: inline-block;
	padding: 10px 25px;
	transition: 0.3s;
	&:hover{
		transform: scale(1.025);
	}
	&:first-of-type{
		padding-left:0;
	}
	&:last-of-type{
		padding-right:0;
	}
	&__link {
		display: inline-block;
	}

	&__img {
		max-width: 100%;
	}
}