.catalog-pagenav {
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 40px;

	&__seealso {
		display: block;

		&-area {
			padding: 0 20px;
			background: url(../images/arrow-bottom.png) right center no-repeat;
		}

		&-link {
			text-align: center;
			display: inline;
			font-size: 17px;
			color: #6f6f6f;
			border-bottom: 1px dotted #6f6f6f;

			&:hover {
				border-bottom: 1px solid transparent;
				text-decoration: none;
				color: #6f6f6f;
			}
		}

		&-loader {
			display: none;
		}
	}

	&__pagination {
		display: block;
	}

	&-pagination {
		margin: 18px 0 50px 0;
		padding: 0;
		list-style: none;
		display: flex;
		justify-content: center;

		&__item {
			padding: 10px 15px;
			display:inline-block;
			vertical-align: middle;
			text-align: center;
			&_active {
				background: url(../images/circle.png) center top no-repeat;
				width:57px;
			}

			&-link {
				font-size:24px;
				color:#6f6f6f;
				&:hover{
					text-decoration: none;
					color:#383838;
				}
				&_active{
					color:#ffffff;
					&:hover{
						color:#ffffff;
					}
				}
				&_prev{
					display:inline-block;
					background: url(../images/arrow-left.png) 0 center no-repeat;
					width:24px;
					height:33px;
					transition: 0.3s;
					&:hover{
						transform: scale(1.05);
					}
				}
				&_next{
					display:inline-block;
					background: url(../images/arrow-right.png) right center no-repeat;
					width:25px;
					height:33px;
					transition: 0.3s;
					&:hover{
						transform: scale(1.05);
					}
				}
			}

			&-more {
				font-size:24px;
				color:#6f6f6f;

			}
		}
	}

}