.contacts {
	&-details {
		display: block;
		padding: 20px;
		background-color: #ffffff;
		ul{
			margin:0;
			padding:0;
			list-style: none;
			li{
				margin:0;
				padding:10px 0;
				list-style: none;
			}
		}
	}
}