.footer {
	background-color: #5c5c5c;
	color: #ffffff;
	padding: 40px 0;

	&-contacts {
		margin: 0;
		padding: 0;
		display: flex;
		flex-direction: column;
		align-content: center;
		align-items: flex-start;
		justify-content: flex-start;

		&__item {
			list-style: none;
			padding: 10px 0;
			margin: 0;
			color: #ffffff;
			font-size: 18px;
			display: flex;
			align-items: center;
			align-content: center;
			justify-content: flex-start;

			&:first-of-type {
				padding-top: 0;
			}

			&-img {
				display: inline-block;
				background-repeat: no-repeat;
				background-position: center center;
				background-size: contain;
				margin-right: 20px;

				&_location {
					background-image: url(../images/location.png);
					width: 40px;
					height: 46px;
				}

				&_phone {
					background-image: url(../images/phone.png);
					width: 40px;
					height: 40px;

				}

				&_mail {
					background-image: url(../images/mail.png);
					width: 40px;
					height: 32px;
				}
			}
		}
	}

	&-sonet {
		margin: 30px 0 0 0;
		padding: 0;
		display: flex;
		align-content: center;
		align-items: flex-start;
		justify-content: flex-start;

		&__item {
			list-style: none;
			padding: 0 20px 0 0;
			margin: 0;

			&-link {
				display: inline-block;
				background-repeat: no-repeat;
				background-position: center center;
				background-size: contain;

				&_vk {
					background-image: url(../images/vk.png);
					width: 53px;
					height: 53px;
				}

				&_fb {
					background-image: url(../images/fb.png);
					width: 53px;
					height: 53px;
				}

				&_ig {
					background-image: url(../images/ig.png);
					width: 53px;
					height: 53px;
				}
			}
		}
	}

	&-title {
		font-size: 22px;
		color: #ffffff;
		text-transform: uppercase;
		margin-top: 10px;

		&-contacts {
			display: none;
		}
	}

	&-menu {
		margin: 0;
		padding: 0;
		list-style: none;

		&__item {
			margin: 0;
			padding: 5px 0;

			&-link {
				color: #ffffff;

				&:hover {
					text-decoration: underline;
					color: #ffffff;
				}
			}
		}
	}

	.bx-subscribe {
		&__form {
			display: flex;
			justify-content: space-between;
			padding-bottom: 40px;
		}

		&__input {
			display: inline-block;
			width: 50%;
			border: 2px solid #bfbfbf;
			background-color: transparent;
			color: #ffffff;
			font-family: 'Proxima Nova Lt';
			font-weight: 300;
			height: 47px;
			line-height: 47px;
			padding: 0 20px;
			margin: 0;

			&:active, &:focus {
				background-color: #ffffff;
				color: #5c5c5c;
			}
		}

		&__button {
			display: inline-block;
			width: 50%;
			background-color: #bfbfbf;
			border: 0 none;
			color: #ffffff;
			text-transform: uppercase;
			height: 47px;
			line-height: 47px;
			padding: 0 20px;
			margin: 0;
			font-weight: 800;
		}
	}

	&-payment {
		margin: 0;
		padding: 30px 0 0 0;
		list-style: none;

		&__item {
			padding: 0;
			margin: 30px 0;
			list-style: none;
			display: block;
			background-repeat: no-repeat;
			background-position: center 0;
			background-size: contain;

			&_visa {
				background-image: url(../images/visa.png);
				width: 120px;
				height: 39px;
			}

			&_maestro {
				background-image: url(../images/maestro.png);
				width: 120px;
				height: 74px;
			}

			&_mastercard {
				background-image: url(../images/mastercard.png);
				width: 120px;
				height: 73px;
			}

			&_mir {
				background-image: url(../images/mir.png);
				width: 120px;
				height: 34px;
			}
		}
	}

}

@media (max-width: 1499.99px) {
	.footer {
		&-payment {
			display: flex;
			align-items: center;
			align-content: stretch;
			justify-content: space-evenly;
		}
	}
}

@media (max-width: 991.99px) {
	.footer {
		&-title {
			margin-top: 30px;
		}

		&-menu {
			margin: 0 0 20px 0;
			padding: 0;
			list-style: none;
			display: flex;
			flex-wrap: wrap;

			&__item {
				width: 33%;
			}
		}

		&-sonet {
			margin-top: 0;
			display: flex;
			align-items: center;
			align-content: stretch;
			justify-content: center;
		}

		&-payment {
			&__item {
				margin-left: 10px;
				margin-right: 10px;
			}
		}
	}
}

@media (max-width: 767.99px) {
	.footer {

		&-menu {
			&__item {
				width: 50%;
			}
		}

	}
}