.header {
	position: relative;

	&__logo {
		display: block;
		width: 288px;
		height: 92px;
		max-width: 100%;
		margin-top: 14px;
		margin-bottom: 14px;
	}

	&-phones {

		&__whatsapp {
			display: inline-block;
			width: 38px;
			height: 45px;
			background: url("../images/whatsap.png") top center no-repeat transparent;
			background-size: contain;
			margin-top: 40px;
			margin-right: 6px;
		}

		&__viber {
			display: inline-block;
			width: 40px;
			height: 45px;
			background: url("../images/viber.png") top center no-repeat transparent;
			background-size: contain;
			margin-top: 40px;
			margin-right: 6px;
		}

		&__telegram {
			display: inline-block;
			width: 38px;
			height: 45px;
			background: url("../images/telegram.png") top center no-repeat transparent;
			background-size: contain;
			margin-top: 40px;
			margin-right: 6px;
		}

		&__call {
			display: inline-block;
			width: 38px;
			height: 45px;
			background: url("../images/call.png") top center no-repeat transparent;
			background-size: contain;
			margin-top: 40px;
			margin-right: 6px;
		}

		&__phone {
			font-family: 'Proxima Nova Th';
			font-weight: 800;
			font-size: 28px;
			margin-top: 39px;
			vertical-align: top;
			display: inline-block;

			a {
				color: #383838;

				&:hover {
					color: #383838;
					text-decoration: none;
				}
			}
		}
	}

	&-user {
		display: flex;
		justify-content: flex-end;
		align-content: center;
		align-items: center;
		margin-top: 40px;

		&__item {
			border-left: 2px solid #383838;
			padding: 0 15px;

			&:first-of-type {
				border-left: 0;
			}
		}

		&__link {
			display: inline-block;
			background-position: 0 center;
			background-repeat: no-repeat;
			vertical-align: middle;

			&_personal {
				background-image: url(../images/header-user.png);
				width: 29px;
				height: 50px;
			}

			&_favorite {
				background-image: url(../images/header-star.png);
				min-width: 36px;
				height: 50px;

				span {
					color: #383838;
					font-size: 24px;
					display: inline-block;
					padding-left: 46px;
					line-height: 50px;
				}
			}

			&_basket {
				background-image: url(../images/header-basket.png);
				min-width: 35px;
				height: 50px;

				span {
					display: none;
				}

				&-full {
					background-image: url(../images/header-basket-full.png);
					min-width: 70px;
					height: 50px;

					span {
						color: #383838;
						font-size: 24px;
						display: inline-block;
						padding-left: 40px;
						line-height: 50px;
					}
				}


			}
		}
	}

	&-menu {
		&__button {
			display: inline-block;
			width: 76px;
			height: 76px;
			background: url(../images/menu.png) center center no-repeat;
			margin: 5px;
		}

		&-popup {
			display: none;
		}
	}

	&-search {
		&__button {
			display: inline-block;
			width: 76px;
			height: 76px;
			background: url(../images/header-search.png) center center no-repeat;
			margin: 5px;
		}

		&-popup {
			display: none;
			height: 93px;
			position: absolute;
			width: 100%;
			top: 0;
			z-index: 1000;
			background-color: #ffffff;
			-webkit-box-shadow: 0px 10px 5px 0px rgba(50, 50, 50, 0.5);
			-moz-box-shadow: 0px 10px 5px 0px rgba(50, 50, 50, 0.5);
			box-shadow: 0px 10px 5px 0px rgba(50, 50, 50, 0.5);

			&_active {
				display: block;
			}

			&__bg {
				display: none;
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				z-index: 999;
				background-color: rgba(0, 0, 0, 0.4);
				cursor: pointer;

				&_active {
					display: block;
				}
			}
		}
	}

	&-popup {
		&-phones {
			display: inline-block;
			border: 1px solid #353535;
			border-radius: 5px;
			padding: 5px 10px;
			max-height: 40px;
			margin: 10px 0;
			white-space: nowrap;

			&__call {
				display: inline-block;
				width: 28px;
				height: 35px;
				background: url("../images/call.png") top center no-repeat transparent;
				background-size: contain;
				margin-right: 10px;
			}

			&__phone {
				font-family: 'Proxima Nova Th';
				font-weight: 800;
				font-size: 20px;
				vertical-align: top;
				display: inline-block;

				a {
					color: #383838;

					&:hover {
						color: #383838;
					}
				}
			}
		}

		&__close {
			display: inline-block;
			width: 30px;
			height: 30px;
			background: url(../images/header-close.png) center center no-repeat;
			background-size: contain;
			margin: 10px 0 10px 0;
		}
	}

}

.logo {
	background: url("../images/logo.png") 0 0 no-repeat transparent;
	background-size: contain;
}

@media (max-width: 575.99px) {
	.header {
		&__logo {
			display: block;
			width: 76px;
			height: 76px;
			margin: 5px auto;
		}

		&-user {
			justify-content: center;
			margin-top: 10px;

			&__item {
				border-left: 0 none;
				padding: 0 30px;
			}

			&__link {
				&_personal-popup {
					background-image: url(../images/header-user.png);
					width: auto;
					height: 33px;
					padding-left: 50px;
					line-height: 33px;
					margin-bottom: 20px;
					color: #383838;
					font-family: 'Proxima Nova Th';
					font-weight: 800;
					font-size: 20px;

					&:hover {
						color: #383838;
					}
				}
			}
		}

		&-menu {
			&-popup {
				display: none;
				position: absolute;
				width: 100%;
				top: 0;
				z-index: 1000;
				background-color: #ffffff;
				-webkit-box-shadow: 0px 10px 5px 0px rgba(50, 50, 50, 0.5);
				-moz-box-shadow: 0px 10px 5px 0px rgba(50, 50, 50, 0.5);
				box-shadow: 0px 10px 5px 0px rgba(50, 50, 50, 0.5);
			}
		}

		&-popup {
			&-phones {
				&__phone {
					font-size: 16px;
					line-height: 28px;
				}
			}
		}
	}
	.logo {
		background: url("../images/logo-small.png") 0 0 no-repeat transparent;
		background-size: contain;
	}
}

@media (min-width: 576px) and (max-width: 767.99px) {
	.header {
		&__logo {
			display: block;
			width: 76px;
			height: 76px;
			margin: 5px auto;
		}

		&-user {
			justify-content: center;
			margin-top: 10px;

			&__item {
				border-left: 0 none;
				padding: 0 30px;
			}

			&__link {
				&_personal-popup {
					background-image: url(../images/header-user.png);
					width: auto;
					height: 33px;
					padding-left: 50px;
					line-height: 33px;
					margin-bottom: 20px;
					color: #383838;
					font-family: 'Proxima Nova Th';
					font-weight: 800;
					font-size: 20px;

					&:hover {
						color: #383838;
					}
				}
			}
		}

		&-menu {
			&-popup {
				display: none;
				position: absolute;
				width: 100%;
				top: 0;
				z-index: 1000;
				background-color: #ffffff;
				-webkit-box-shadow: 0px 10px 5px 0px rgba(50, 50, 50, 0.5);
				-moz-box-shadow: 0px 10px 5px 0px rgba(50, 50, 50, 0.5);
				box-shadow: 0px 10px 5px 0px rgba(50, 50, 50, 0.5);
			}
		}
	}
	.logo {
		background: url("../images/logo-small.png") 0 0 no-repeat transparent;
		background-size: contain;
	}
}

@media (min-width: 768px) and (max-width: 991.99px) {
	.header {
		&__logo {
			width: 192px;
			height: 61px;
			margin: 10px auto;
		}

		&-user {
			justify-content: center;
			margin-top: 10px;

			&__item {
				border-left: 0 none;
				padding: 0 30px;
			}

			&__link {
				&_personal-popup {
					background-image: url(../images/header-user.png);
					width: auto;
					height: 33px;
					padding-left: 50px;
					line-height: 33px;
					margin-bottom: 20px;
					color: #383838;
					font-family: 'Proxima Nova Th';
					font-weight: 800;
					font-size: 20px;

					&:hover {
						color: #383838;
					}
				}
			}
		}

		&-menu {
			&-popup {
				display: none;
				position: absolute;
				width: 100%;
				top: 0;
				z-index: 1000;
				background-color: #ffffff;
				-webkit-box-shadow: 0px 10px 5px 0px rgba(50, 50, 50, 0.5);
				-moz-box-shadow: 0px 10px 5px 0px rgba(50, 50, 50, 0.5);
				box-shadow: 0px 10px 5px 0px rgba(50, 50, 50, 0.5);
			}
		}
	}
}

@media (min-width: 992px) {
	.header {
		&-menu {
			&-popup {
				display: none !important;
			}
		}

		&-search {

			&-popup {
				&_active {
					display: none;
				}

				&__bg {
					&_active {
						display: none;
					}
				}
			}
		}
	}
}

@media (min-width: 992px) and (max-width: 1499.99px) {

}
