.lk {
	&__title-row {
		align-items: center;

		h1 {
			text-align: left;
			color: #383838;
			font-size: 48px;
			text-transform: none;
			margin: 0;
			padding: 0;
		}
	}

	&-balls {
		.row {
			align-items: center;
		}

		&__title {
			text-transform: uppercase;
			text-align: right;
			color: #383838;
			font-size: 26px;
			font-family: 'Proxima Nova Lt';
			font-weight: 600;
			font-style: normal;
		}

		&__content {
			display: inline-block;
			padding: 0px 15px;
			margin-left: 10px;
			background-color: #4dc4dc;
			color: #ffffff;
			font-size: 36px;
			font-family: 'Proxima Nova Lt';
			font-weight: 600;
			font-style: normal;
			float: right;
		}
	}

	&-menu {
		display: flex;
		flex-wrap: wrap;
		margin: 20px 0 20px 0;
		padding: 0;
		list-style: none;

		&__item {
			padding: 0 0 10px 0;
			margin: 20px 50px 0 0;
			list-style: none;
			cursor: pointer;
			font-size: 20px;
			color: #383838;
			text-transform: uppercase;

			&:hover {
				border-bottom: 1px solid #4dc4dc;
				padding-bottom: 9px;
			}

			&-selected {
				border-bottom: 7px solid #4dc4dc;
				padding-bottom: 3px;

				&:hover {
					border-bottom: 7px solid #4dc4dc;
					padding-bottom: 3px;
				}
			}
		}

		&__link {
			color: #383838;

			&:hover {
				color: #383838;
				text-decoration: none;
			}
		}
	}

	&-orders {
		table {
			width: 100%;
			font-family: 'Proxima Nova Rg';
			font-weight: normal;
			font-style: normal;

			thead {
				tr {
					border-bottom: 1px solid #cccccc;
				}

				th {
					font-size: 20px;
					color: #777777;
					padding: 10px 10px;
					font-weight: normal;
					font-style: normal;
				}
			}

			tbody {
				tr {
					border-bottom: 1px solid #cccccc;
				}

				td {
					color: #383838;
					font-size: 20px;
					padding: 10px 10px;
					font-weight: normal;
					font-style: normal;
				}
			}
		}
	}

	&-personal {
		display: block;
		width: 100%;

		&-row {
			margin-top: 15px;
		}

		label {
			font-size: 24px;
			color: #383838;
			font-family: 'Proxima Nova Lt';
			font-weight: 300;
			font-style: normal;
		}

		input[type=text], input[type=password] {
			max-width: 500px;
			color: #383838;
			font-size: 24px;
			color: #383838;
			font-family: 'Proxima Nova Lt';
			font-weight: 300;
			font-style: normal;
			border: 1px solid #cccccc;
			padding: 5px 10px;
			width: 100%;
		}

		button {
			font-size: 22px;
			text-transform: uppercase;
			color: #ffffff;
			border: 0 none;
			padding: 15px 10px;
			background-color: #5c5c5c;
			max-width: 500px;
			width: 100%;
			font-family: 'Proxima Nova Lt';
			font-weight: 600;
			font-style: normal;

			&:hover {
				background-color: #4dc4dc;
			}
		}
	}

	&-wishlist {
		width: 100%;
		font-family: 'Proxima Nova Rg';
		font-weight: normal;
		font-style: normal;

		thead {
			tr {
				border-bottom: 1px solid #cccccc;
			}

			th {
				font-size: 20px;
				color: #777777;
				padding: 10px 10px;
				font-weight: normal;
				font-style: normal;
				text-align: center;

				&.product-thumbnail {
					text-align: left;
				}
			}
		}

		tbody {
			tr {
				border-bottom: 1px solid #cccccc;
			}

			td {
				color: #383838;
				font-size: 20px;
				padding: 10px 10px;
				font-weight: normal;
				font-style: normal;

				.single-product {
					display: flex;

					.product-img {
						max-width: 150px;

						img {
							max-width: 100px;
						}
					}

					.product-info {
						padding-left: 10px;
					}
				}

				&.product-price {
					text-align: center;

					i {
						text-align: center;
						display: block;
						font-size: 0.8em;
						text-decoration: line-through;
					}
				}

				&.product-add-cart {
					text-align: center;

					a {
						display: inline-block;
						background-image: url(../images/header-basket.png);
						width: 20px;
						height: 20px;
						background-position: center center;
						background-size: contain;
						background-repeat: no-repeat;
					}
				}

				&.product-remove {
					text-align: center;

					a {
						display: inline-block;
						background-image: url(../img/basket-del.png);
						width: 20px;
						height: 20px;
						background-position: center center;
						background-size: contain;
						background-repeat: no-repeat;
					}
				}
			}
		}
	}
}

@media (max-width: 991.99px) {
	.lk {
		&__title-row {
			h1 {
				font-size: 36px;
			}
		}

		&-balls {

			&__title {
				font-size: 18px;
			}

			&__content {
				font-size: 18px;
				padding: 0 10px;
			}
		}
	}
}
