.banners {
	padding: 20px 0 50px 0;
}

.mainpage-banners {
	&-carousel-title {
		&-small {
			display: none;

		}
	}

	&__title {
		padding: 25px 10px 30px 0;
		cursor: pointer;
		color: #878787;
		text-transform: uppercase;
		border-bottom: 2px solid #c6c6c6;
		white-space: nowrap;

		&:hover {
			border-bottom-color: #e55454;
		}

		&_active {
			padding-bottom: 25px;
			border-bottom: 7px solid #e55454;
		}

	}
}

@media (max-width: 767.99px) {
	.mainpage-banners {
		&-carousel-title {
			&-small {
				display: block;
				text-align:center;
				color:#878787;
				font-size:18px;
				padding: 20px 10px;
				text-transform: uppercase;
			}
		}

		&__title {
			margin: 0 5px;
			border-bottom: 7px solid #c6c6c6;
			padding:0;
			span{
				display:none;
			}
			&_active {
				padding-bottom: 0;
				border-bottom: 7px solid #e55454;
			}
		}
	}
}