.menu-top {
	display: block;

	&__items {
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-between;
	}

	&__item {
		list-style: none;
		margin: 0;
		padding: 0;
		position: relative;

		&-link {
			font-size: 18px;
			color: #383838;
			text-transform: uppercase;
			white-space: nowrap;
			line-height: 50px;

			&:hover {
				color: #00b9eb;
				text-decoration: none;
			}

			&_child {
				background: url(../images/topmenu-arrow-black.png) right center no-repeat;
				padding-right: 15px;

				&:hover {
					background: url(../images/topmenu-arrow-blue.png) right center no-repeat;
				}
			}

		}
	}

	&-popup {
		border-top: 2px solid #4dc4dc;
		display: none;
		position: absolute;
		top: 77px;
		left: 0;
		background-color: #ffffff;
		-webkit-box-shadow: 1px 1px 20px 0px rgba(172, 172, 172, 0.75);
		-moz-box-shadow: 1px 1px 20px 0px rgba(172, 172, 172, 0.75);
		box-shadow: 1px 1px 20px 0px rgba(172, 172, 172, 0.75);
		z-index: 10;

		&-content {
			display: flex;
			align-content: stretch;
			align-items: stretch;

			&__level1 {
				padding: 15px 20px 15px 12px;
				min-width: 250px;
				/*display:none;*/
			}

			&__level2 {
				padding: 15px 20px 15px 12px;
				border-left: 2px solid #ebebeb;
				min-width: 250px;
				display: none;
			}

			&__level3 {
				padding: 15px 20px 15px 12px;
				border-left: 2px solid #ebebeb;
				min-width: 200px;
				display: none;
			}

			&__level4 {
				padding: 15px 20px 15px 12px;
				border-left: 2px solid #ebebeb;
				min-width: 200px;
				display: none;
			}
		}
	}

}

.popupmenu {
	&-lev1 {
		margin: 0;
		padding: 0;
		list-style: none;

		&__item {
		}

		&__link {
			font-size: 20px;
			color: #353434;

			&_selected {
				color: #00b9eb;
			}

			&_active {
				color: #00b9eb;
			}

			&:hover {
				color: #00b9eb;
				text-decoration: none;
			}
		}
	}

	&-lev2 {
		margin: 0;
		padding: 0;
		list-style: none;
		display: none;

		&__item {
		}

		&__link {
			font-size: 20px;
			color: #6d6c6c;
			font-family: 'Proxima Nova Rg';
			font-weight: normal;

			&_selected {
				color: #00b9eb;
			}

			&_active {
				color: #00b9eb;
			}

			&:hover {
				color: #00b9eb;
				text-decoration: none;
			}
		}
	}

	&-lev3 {
		margin: 0;
		padding: 0;
		list-style: none;
		display: none;

		&__item {
		}

		&__link {
			font-size: 20px;
			color: #6d6c6c;
			font-family: 'Proxima Nova Rg';
			font-weight: normal;

			&_selected {
				color: #00b9eb;
			}

			&_active {
				color: #00b9eb;
			}

			&:hover {
				color: #00b9eb;
				text-decoration: none;
			}
		}
	}

	&-lev4 {
		margin: 0;
		padding: 0;
		list-style: none;
		display: none;

		&__item {
		}

		&__link {
			font-size: 20px;
			color: #6d6c6c;
			font-family: 'Proxima Nova Rg';
			font-weight: normal;

			&_selected {
				color: #00b9eb;
			}

			&_active {
				color: #00b9eb;
			}

			&:hover {
				color: #00b9eb;
				text-decoration: none;
			}
		}
	}
}

.menu-mobile-top {
	display: block;

	&-col {
		position: inherit;
	}

	&__items {
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	&__item {
		list-style: none;
		margin: 0;
		padding: 0;

		&-link {
			font-size: 18px;
			color: #383838;
			text-transform: uppercase;
			white-space: nowrap;
			line-height: 50px;

			&:hover {
				color: #00b9eb;
				text-decoration: none;
			}

			&_child {
				background: url(../images/topmenu-arrow-black.png) right center no-repeat;
				padding-right: 15px;

				&:hover {
					background: url(../images/topmenu-arrow-blue.png) right center no-repeat;
				}
			}

		}
	}

	&-mobile {
		border-top: 2px solid #4dc4dc;
		display: none;
		position: absolute;
		left: 0;
		background-color: #ffffff;
		-webkit-box-shadow: 1px 1px 20px 0px rgba(172, 172, 172, 0.75);
		-moz-box-shadow: 1px 1px 20px 0px rgba(172, 172, 172, 0.75);
		box-shadow: 1px 1px 20px 0px rgba(172, 172, 172, 0.75);
		z-index: 10;
		width: 100%;
		padding: 20px 0;

		&-content {
			display: flex;
			align-content: stretch;
			align-items: stretch;

			&__level1 {
				padding: 10px 0 10px 20px;
			}

			&__level2 {
				padding: 10px 0 10px 20px;
				display: none;
			}

			&__level3 {
				padding: 10px 0 10px 20px;
				display: none;
			}

			&__level4 {
				padding: 10px 0 10px 20px;
				display: none;
			}
		}
	}
}

.mobilemenu {
	&-lev1 {
		margin: 0;
		padding: 0;
		list-style: none;

		&__item {
			&_selected {
				.mobilemenu-lev2 {
					display: block;
				}
			}
		}

		&__link {
			font-size: 18px;
			color: #353434;

			&_selected {
				color: #00b9eb;
			}

			&_active {
				color: #00b9eb;
			}

			&:hover {
				color: #00b9eb;
				text-decoration: none;
			}
		}
	}

	&-lev2 {
		margin: 0;
		padding: 0 0 0 20px;
		list-style: none;
		display: none;

		&__item {
			&_selected {
				.mobilemenu-lev3 {
					display: block;
				}
			}
		}

		&__link {
			font-size: 16px;
			color: #6d6c6c;
			font-family: 'Proxima Nova Rg';
			font-weight: normal;

			&_selected {
				color: #00b9eb;
			}

			&_active {
				color: #00b9eb;
			}

			&:hover {
				color: #00b9eb;
				text-decoration: none;
			}
		}
	}

	&-lev3 {
		margin: 0;
		padding: 0 0 0 20px;
		list-style: none;
		display: none;

		&__item {
			&_selected {
				.mobilemenu-lev4 {
					display: block;
				}
			}
		}

		&__link {
			font-size: 16px;
			color: #6d6c6c;
			font-family: 'Proxima Nova Rg';
			font-weight: normal;

			&_selected {
				color: #00b9eb;
			}

			&_active {
				color: #00b9eb;
			}

			&:hover {
				color: #00b9eb;
				text-decoration: none;
			}
		}
	}

	&-lev4 {
		margin: 0;
		padding: 0 0 0 20px;
		list-style: none;
		display: none;

		&__item {
		}

		&__link {
			font-size: 16px;
			color: #6d6c6c;
			font-family: 'Proxima Nova Rg';
			font-weight: normal;

			&_selected {
				color: #00b9eb;
			}

			&_active {
				color: #00b9eb;
			}

			&:hover {
				color: #00b9eb;
				text-decoration: none;
			}
		}
	}
}

@media (max-width: 991.99px) {
	.menu-top {
		display: none;
	}
}
@media (max-width: 1499.99px) {
	.menu-top {
		&__item {
			&-link {
				font-size: 15px;
			}
		}
	}
}
@media (min-width: 992px) {
	.menu-mobile-top {
		display: none;
	}
	.menu-top {


	}
}