.menu-mainpage-left{
	display:block;
	margin-top:30px;
	&__mt0{
		margin-top:0;
	}
	&__items{
		list-style: none;
		margin:0;
		padding:0;
		display: flex;
		flex-wrap: nowrap;
		flex-direction: column;
		justify-content:space-between;
	}
	&__item{
		list-style: none;
		margin:0;
		padding:14px 0;
	}
	&__item-link{
		font-size:18px;
		color:#808080;
		text-transform: uppercase;
		/*white-space: nowrap;
		line-height: 55px;*/
		vertical-align: middle;
		text-align: center;
		display:block;
		&:hover{
			color:#808080;
			text-decoration: underline;
		}
		&_selected{
			color:#383838;
		}
	}
}

.menu-mainpage-left2{
	display:block;
	margin:10px 0;
	&__items{
		list-style: none;
		margin:0;
		padding:0;
		display: flex;
		flex-wrap: nowrap;
		flex-direction: column;
		justify-content:space-between;
	}
	&__item{
		list-style: none;
		margin:0;
		padding:2px 0;
	}
	&__item-link{
		font-size:16px;
		color:#808080;
		text-align: center;
		display:block;
		&:hover{
			color:#808080;
			text-decoration: underline;
		}
		&_selected{
			color:#383838;
		}
	}
}

.menu-mainpage-left3{
	display:block;
	margin:10px 0;
	&__items{
		list-style: none;
		margin:0;
		padding:0;
		display: flex;
		flex-wrap: nowrap;
		flex-direction: column;
		justify-content:space-between;
	}
	&__item{
		list-style: none;
		margin:0;
		padding:2px 0;
	}
	&__item-link{
		font-size:14px;
		color:#808080;
		vertical-align: middle;
		text-align: center;
		display:block;
		&:hover{
			color:#808080;
			text-decoration: underline;
		}
		&_selected{
			color:#383838;
		}
	}
}
