.navchain{
	display:flex;
	flex-wrap: wrap;
	color:#cccbcb;
	font-size:18px;
	padding:15px 0;
	margin:0;
	list-style: none;
	&__item{
		padding:0 15px;
		margin:0;
		list-style: none;
		color:#aeaeae;
		position:relative;
		&::after {
			color: #cccbcb;
			content: "/";
			left: -4px;
			position: absolute;
			top: 0;
		}
		&:first-child::after {
			content: "";
		}
		&:first-child{
			padding-left:0;
		}
	}
	&__link{
		color:#cccbcb;
		&:hover{
			text-decoration: none;
			color:#aeaeae;
		}
	}
	&__text{

	}
}