.order-checkout {
	padding-bottom: 40px;

	h3 {
		font-size: 30px;
		margin: 15px 0;
		font-family: 'Proxima Nova Th';
		font-weight: 800;
		font-style: normal;
	}

	.panel-map {
		height: 100%;
	}

	.order-field {
		padding-top: 20px;

		&.order-description {
			padding-top: 0;
		}

		label {
			font-size: 26px;
			font-family: 'Proxima Nova Lt';
			font-weight: 300;
			font-style: normal;
			margin: 0;
		}

		input[type='text'], textarea, .bx-ui-sls-input-block {
			display: block;
			width: 100%;
			padding: 10px 20px;
			border: 1px solid #555555;
			font-size: 26px;
			font-family: 'Proxima Nova Lt';
			font-weight: 300;
			font-style: normal;
		}

	}

	.form-radio {
		position: relative;
		margin-top: 20px;

		&.order-field {
			padding-top: 0;
		}

		input[type='radio'] {
			-webkit-appearance: none; /* Chrome */
			-moz-appearance: none; /* Firefox */
			appearance: none; /* убираем стандартные кружочки */
			position: absolute;

		}

		label {
			padding-left: 40px; /* отступ слева */
			cursor: pointer; /* курсор рука */
			line-height: 29px;

			&:before {
				content: "";
				display: block; /* не в строку */
				width: 29px; /* ширина блока */
				height: 29px; /* высота блока */
				border: 1px solid #aeaeae; /* рамка */
				background-color: #ffffff; /* цвет фона */
				border-radius: 50%; /* получаем круг */
				position: absolute; /* расположен точно в родителе */
				top: 0; /* расстояние от верха родителя */
				left: 0; /* расстояние слева от родителя */
				z-index: 1; /* на нижнем слое */
				transition: border .1s linear; /* плавный переход для border */
			}

			&:after {
				content: "";
				display: block;
				width: 23px;
				height: 23px;
				background-color: #f24841;
				border-radius: 50%;
				opacity: 0; /* полностью прозрачный */
				position: absolute;
				top: 3px;
				left: 3px;
				z-index: 2; /* на верхнем слое */
				transition: opacity .1s linear; /* плавный переход для opacity */
			}
		}

		input[type='radio']:checked + label:before {
			/*border-color: #f24841;*/
		}

		input[type='radio']:checked + label:after {
			opacity: 1;
		}
	}

	.form-check {
		position: relative;
		margin-top: 20px;

		&.order-field {
			padding-top: 0;
		}

		input[type='checkbox'] {
			-webkit-appearance: none; /* Chrome */
			-moz-appearance: none; /* Firefox */
			appearance: none; /* убираем стандартные кружочки */
			position: absolute;

		}

		label {
			padding-left: 40px; /* отступ слева */
			cursor: pointer; /* курсор рука */
			line-height: 29px;

			&:before {
				content: "";
				display: block; /* не в строку */
				width: 29px; /* ширина блока */
				height: 29px; /* высота блока */
				border: 1px solid #aeaeae; /* рамка */
				background-color: #ffffff; /* цвет фона */
				border-radius: 0; /* получаем круг */
				position: absolute; /* расположен точно в родителе */
				top: 0; /* расстояние от верха родителя */
				left: 0; /* расстояние слева от родителя */
				z-index: 1; /* на нижнем слое */
				transition: border .1s linear; /* плавный переход для border */
			}

			&:after {
				content: "";
				display: block;
				width: 23px;
				height: 23px;
				background-color: #f24841;
				border-radius: 0;
				opacity: 0; /* полностью прозрачный */
				position: absolute;
				top: 3px;
				left: 3px;
				z-index: 2; /* на верхнем слое */
				transition: opacity .1s linear; /* плавный переход для opacity */
			}
		}

		input[type='checkbox']:checked + label:before {
			/*border-color: #f24841;*/
		}

		input[type='checkbox']:checked + label:after {
			opacity: 1;
		}
	}

	.delivery-label {
		color: #383838;
		font-size: 26px;
		line-height: 29px;
		font-family: 'Proxima Nova Lt';
		font-weight: 600;
		font-style: normal;

		span {
			display: block;
			font-size: 26px;
			color: #383838;
			font-family: 'Proxima Nova Lt';
			font-weight: 300;
			font-style: normal;
		}
	}

	.delivery-description {
		display: block;
		margin-left: 40px;
		font-size: 26px;
		color: #383838;
		font-family: 'Proxima Nova Lt';
		font-weight: 300;
		font-style: normal;
	}

	a {
		color: #ef4545;
	}

	.order-total {
		padding-top: 20px;
		font-size: 26px;
		color: #383838;
		font-family: 'Proxima Nova Lt';
		font-weight: 300;
		font-style: normal;
	}

	.order-confirm-area {
		text-align: right;
		padding-top: 20px;
		font-size: 26px;
		color: #383838;
		font-family: 'Proxima Nova Lt';
		font-weight: 300;
		font-style: normal;

		.form-check {
			display: inline-block;
			line-height: 29px;
		}
	}

	.btn-order-save {
		display: inline-block;
		margin-top: 45px;
		background-color: #4dc4dc;
		border: 0 none;
		color: #ffffff;
		text-transform: uppercase;
		font-size: 22px;
		font-family: 'Proxima Nova Lt';
		font-weight: 600;
		font-style: normal;
		padding: 25px 100px;

		&.btn-disabled {
			background-color: #5c5c5c;
			color: #ffffff;
		}
	}
}

.kladr-error {
	color: #cb3e27;
}

#kladr_autocomplete {
	ul {
		background-color: #fff;
		border: 1px solid #c4c4c4;
		color: #313131;
		display: block;
		margin: 0;
		max-height: 420px;
		min-width: 300px;
		overflow-x: hidden;
		overflow-y: auto;
		padding: 0;
		position: absolute;
		z-index: 9999;
	}

	li {
		display: list-item;
		list-style-type: none;
		margin: 0;
		overflow: hidden;
		padding: 8px 10px;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	li + li {
		border-top: 1px solid #ededed;
	}

	li:hover {
		background-color: #f2f2f2;
		cursor: pointer;
	}

	li.active {
		background-color: #e9e9e9;
	}

	a {
		text-decoration: none;
	}

	strong {
		color: #4dc4dc;
	}

	.spinner {
		background: rgba(0, 0, 0, 0) url("/bitrix/themes/.default/images/h2osport/spinner.png") no-repeat scroll center center;
		display: block;
		height: 16px;
		margin: 0;
		padding: 0;
		position: absolute;
		width: 16px;
		z-index: 9999;
	}
}

#F_DELIVERY_DATE {
	display: none;
}

.order-result {
	a {
		color: #383838;
	}
}
.order-detail-info{
	.row-order-detail-header{
		background-color:#f1f1f1;
		color:#777777;
		padding: 20px 0;
		font-size:20px;
		font-family: 'Proxima Nova Rg';
		font-weight: normal;
		font-style: normal;
	}
	.row-order-detail-content{
		background-color:#f8f8f8;
		color:#383838;
		padding: 20px 0;
		font-size:20px;
		font-family: 'Proxima Nova Rg';
		font-weight: normal;
		font-style: normal;
	}
}
