.places {
	&-menu {
		display: block;
		background-color: #ffffff;
		margin-bottom: 20px;

		&__title {
			display: block;
			border-bottom: 2px solid #4dc4dc;
			text-transform: uppercase;
			padding: 10px 20px;
		}

		&__list {
			list-style: none;
			padding: 10px 0;
			margin: 0 20px;

			&-item {
				list-style: none;
				padding: 5px 0;
				margin: 0;

				&_open {
				}
			}

			&-link {
				color: #383838;

				&_selected {
				}
			}
		}

	}

	&-detail {
		margin-top: 20px;
		display: none;
		padding: 20px;
		background-color: #ffffff;

		h1 {
			color: #383838;
			text-align: left;
		}
	}
}