.prodcard {
	h1 {
		color: #2b2b2b;
		font-size: 48px;
		font-family: 'Proxima Nova Rg';
		font-weight: normal;
		text-align: left;
		line-height: 1.2;
		margin: 0;
	}

	&-photos {
		margin-right: 50px;

		&-carousel-title {

		}

		&__title {
			padding: 25px 10px 20px 0;
			cursor: pointer;
			color: #878787;
			text-transform: uppercase;
			border-bottom: 0 none;
			white-space: nowrap;

			&:hover {
				border-bottom-color: #4dc4dc;
			}

			&_active {
				padding-bottom: 13px;
				border-bottom: 7px solid #4dc4dc;
			}

			p {
				text-align: center;
				display: block;
				font-weight: normal;
				margin: 10px 0;
			}
		}
	}

	&-size-table {
		display: none;

		&__link {
			font-size: 20px;
			font-weight: normal;
			color: #9b9b9b;
			text-decoration: underline;
			font-family: 'Proxima Nova Rg';
			padding: 10px 0;
			display: block;

			&:hover {
				color: #383838;
			}
		}
	}

	&-prop {
		display: flex;
		justify-content: space-between;
		font-size: 20px;
		color: #2b2b2b;
		font-family: 'Proxima Nova Lt';
		font-weight: 300;
		padding-left: 7px;
		padding-right: 7px;

		&:nth-of-type(4n+1), &:nth-of-type(4n+2) {
			background-color: #f7f7f7;
		}

		&__title {
			padding: 7px 0;
			margin-bottom: 0;
		}

		&__val {
			padding: 7px 0;
		}

		&:nth-of-type(2n+1) {
			.prodcard {
				&-prop {
					&__val {
						padding-right: 25px;
					}
				}
			}
		}
	}

	&-sel {
		&-size {
			&__title {
				display: block;
				white-space: nowrap;

				&-text {
					display: inline-block;
					color: #2b2b2b;
					font-size: 20px;
				}

				&-current {
					display: inline-block;
					color: #2b2b2b;
					font-size: 20px;
					padding-left: 10px;
					font-family: 'Proxima Nova Lt';
				}
			}

			&__list {
				list-style: none;
				margin: 12px 0 0 0;
				padding: 0;
				display: flex;
				flex-wrap: wrap;
				justify-content: flex-start;
			}

			&__item {
				margin-right: 20px;
				margin-bottom: 20px;

				&_active {
					.prodcard {
						&-sel {
							&-size {
								&__link {
									color: #2b2b2b;
									background-color: #e8e8e8;
								}
							}
						}
					}
				}
			}

			&__link {
				border: 1px solid #6f6f6f;
				display: block;
				line-height: 45px;
				padding: 0 10px;
				min-width: 45px;
				text-align: center;
				font-size: 18px;
				color: #2b2b2b;
				text-decoration: none;

				&:hover {
					text-decoration: none;
					color: #2b2b2b;
					background-color: #e8e8e8;
				}
			}
		}

		&-color {
			&__title {
				display: block;
				white-space: nowrap;

				&-text {
					display: inline-block;
					color: #2b2b2b;
					font-size: 20px;
				}

				&-current {
					display: inline-block;
					color: #2b2b2b;
					font-size: 20px;
					padding-left: 10px;
					font-family: 'Proxima Nova Lt';
				}
			}

			&__list {
				list-style: none;
				margin: 12px 0 0 0;
				padding: 0;
				display: flex;
				flex-wrap: wrap;
				justify-content: flex-start;
			}

			&__item {
				margin-right: 20px;
				margin-bottom: 20px;
				padding: 5px 0 9px 0;

				&_active {
					border-bottom: 2px solid #6f6f6f;
					padding-bottom: 7px;
				}
			}

			&__link {
				display: inline-block;
				line-height: 33px;
				min-width: 33px;
				text-align: center;
				text-decoration: none;
				border-radius: 50%;
				-webkit-box-shadow: 1px 1px 10px 0px rgba(172, 172, 172, 0.75);
				-moz-box-shadow: 1px 1px 10px 0px rgba(172, 172, 172, 0.75);
				box-shadow: 1px 1px 10px 0px rgba(172, 172, 172, 0.75);

				&:hover {
					text-decoration: none;
					color: #2b2b2b;
				}
			}
		}
	}

	&__price {
		font-size: 48px;
		color: #383838;

		&-old {
			color: #4dc4dc;
			font-size: 24px;
			text-decoration: line-through;
			font-family: 'Proxima Nova Rg';
			font-weight: normal;
		}

		&-title {
			display: block;
			font-size: 24px;
			line-height: 1;
			font-weight: normal;
		}
	}

	&__buy {
		line-height: 80px;
		background-color: #4dc4dc;
		padding: 0 45px;
		color: #ffffff;
		font-size: 22px;
		text-transform: uppercase;
		display: inline-block;
		white-space: nowrap;
		text-align: center;
		width: 335px;

		&:hover {
			color: #ffffff;
			text-decoration: none;
			background-color: #0098e0;
		}

		&-active {
			background-color: #0098e0;
		}
	}

	&-buyarea {
		display: flex;
		justify-content: right;
		align-items: flex-start;
	}

	&__available {
		line-height: 80px;
		font-size: 20px;
		color: #2b2b2b;
		font-family: 'Proxima Nova Lt';
		font-weight: 300;

		&-cnt {
			font-family: 'Proxima Nova Lt';
			font-weight: 600;
			font-size: 20px;

			&_yes {
				color: #6bcb92;
			}

			&_no {
				color: #e55454;
			}
		}
	}

	&__oneclickbuy {
		line-height: 80px;
		font-size: 24px;
		color: #2b2b2b;
		text-align: center;
		padding: 0 82px;
		text-decoration: underline;

		&:hover {

		}

		&-form {
			display: none;
		}
	}

	&__rating {
		display: block;
		text-align: left;
		padding: 10px 0;
		font-size: 30px;
	}

	&__favorite {
		display: block;
		white-space: nowrap;
		padding-left: 40px;
		background-position: left center;
		font-size: 16px;
		color: #8b8b8b;
		margin-top: 24px;

		&:hover {
			color: #8b8b8b;
		}
	}
}

@media (max-width: 991.99px) {
	.prodcard {
		h1 {
			font-size: 36px;
		}

		&-photos {
			margin-right: 0;
		}

		&__mobile {
			&-prices {
				display: flex;
				justify-content: space-evenly;
				align-items: center;
			}
		}

		&-buyarea {
			justify-content: center;
		}

		&__buy {
			margin-top: 20px;
		}

	}
}

@media (min-width: 992px) and (max-width: 1499.99px) {
	.prodcard {
		&-pricelg {
			display: flex;
			justify-content: space-evenly;
			align-items: center;
		}
	}
}

@media (max-width: 1499.99px) {
	.prodcard {
		&__mobile {
			&-prices {
				display: flex;
				justify-content: space-evenly;
				align-items: center;
			}
		}


		&-buyarea {
			justify-content: center;
		}

		&-prop {
			&:nth-of-type(2n+1) {
				.prodcard {
					&-prop {
						&__val {
							padding-right: 0;
						}
					}
				}
			}

			&:nth-of-type(4n+1), &:nth-of-type(4n+2) {
				background-color: #ffffff;
			}

			&:nth-of-type(2n+1) {
				background-color: #f7f7f7;
			}
		}
	}
}

#popup-element-oneclick-form {
	padding: 30px 44px 44px 44px;

	h2 {
		font-size: 36px;
		line-height: 1.2;
	}

	.prodcard__price {
		color: #8d8d8d;
		font-size: 36px;
	}

	.oneclickform-field {
		margin-top: 15px;

		&__title {
			font-size: 30px;
			color: #3c3c3c
		}

		&__field {
			font-size: 18px;
			color: #383838;
			border: 1px solid #a2a2a2;
			width: 100%;
			padding: 8px 10px;
		}
	}

	.product-oneclick-buy-button {
		display: block;
		width: 100%;
		margin-top: 30px;
		background-color: #4dc4dc;
		color: #ffffff;
		border: 0 none;
		font-size: 30px;
		font-family: 'Proxima Nova Lt';
		font-weight: 600;
		font-style: normal;
		padding: 18px 10px;
	}

	.product-oneclick-buy-text {
		font-size: 20px;
		color: #858484;
		font-family: 'Proxima Nova Lt';
		font-weight: 600;
		font-style: normal;
		padding: 10px 0 0 0;
	}
}

#oneclickbuy {
	padding: 0;
	max-width: 700px;
	border-radius: 10px;

	.fancybox-close-small {
		right: 20px;
		top: 20px;
	}
}

.prodcard__oneclickbuy-title {
	display: block;
	text-align: center;
	border-bottom: 2px solid #d9d9d9;
	font-size: 44px;
	padding: 10px;
	font-family: 'Proxima Nova Lt';
	font-weight: 600;
	font-style: normal;
	color: #a6a6a6;
}

@media (max-width: 575.99px) {
	#popup-element-oneclick-form {
		padding: 30px 15px 30px 15px;

		img {
			max-width: 100%;
		}

		h2 {
			font-size: 24px;
			line-height: 1.2;
		}

		.prodcard__price {
			color: #8d8d8d;
			font-size: 36px;
		}

		.oneclickform-field {
			margin-top: 15px;

			&__title {
				font-size: 24px;
				color: #3c3c3c;
			}

			&__field {
				font-size: 18px;
				color: #383838;
				border: 1px solid #a2a2a2;
				width: 100%;
				padding: 8px 10px;
			}
		}

		.product-oneclick-buy-button {
			display: block;
			width: 100%;
			margin-top: 30px;
			background-color: #4dc4dc;
			color: #ffffff;
			border: 0 none;
			font-size: 30px;
			font-family: 'Proxima Nova Lt';
			font-weight: 600;
			font-style: normal;
			padding: 18px 10px;
		}

		.product-oneclick-buy-text {
			font-size: 20px;
			color: #858484;
			font-family: 'Proxima Nova Lt';
			font-weight: 600;
			font-style: normal;
			padding: 10px 0 0 0;
		}
	}

	#oneclickbuy {
		padding: 0;
		max-width: 700px;
		border-radius: 10px;

		.fancybox-close-small {
			right: 20px;
			top: 20px;
		}
	}

	.prodcard__oneclickbuy-title {
		display: block;
		text-align: center;
		border-bottom: 2px solid #d9d9d9;
		font-size: 44px;
		padding: 10px;
		font-family: 'Proxima Nova Lt';
		font-weight: 600;
		font-style: normal;
		color: #a6a6a6;
	}
}