.product-card {
	display: block;
	height: 100%;
	position: relative;
	padding: 10px;
	transition: 0.3s;

	&:hover {
		transform: scale(1.025);
	}

	&__inner {
		display: block;
		-webkit-box-shadow: 1px 1px 10px 0px rgba(172, 172, 172, 0.75);
		-moz-box-shadow: 1px 1px 10px 0px rgba(172, 172, 172, 0.75);
		box-shadow: 1px 1px 10px 0px rgba(172, 172, 172, 0.75);
		display: block;
		height: 100%;
		position: relative;
		padding: 0 0 45px 0;
		background-color: #ffffff;
	}

	&__image-link {
		padding: 25px 25px 0 25px;
		display: block;
		text-align: center;
	}

	&__image {
		max-width: 100%;
	}

	&__info {
		display: block;
		padding: 10px 20px 10px 20px;
		height: 68px;
		overflow: hidden;
	}

	&__name {
		color: #424242;
		text-decoration: none;
		text-transform: uppercase;

		&:hover {
			text-decoration: none;
		}
	}

	&__actions {
		padding: 5px 20px 20px 20px;
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
	}

	&__prices {
		span {
			display: block;
			font-weight: normal;
		}
	}

	&__price-old {
		display: block;
		color: #878787;
		text-decoration: line-through;
		font-size: 16px;
		font-family: 'Proxima Nova Rg';
		font-weight: normal;

		&_empty {
			visibility: hidden;
		}
	}

	&__price-current {
		display: block;
		color: #e55454;
		font-size: 20px;
	}

	&__action {
		&-area {
		}

		&-button {
			margin-left: 10px;

			&:first-of-type {
				margin-left: 0;
			}
		}

		&-add-favorite {
			display: inline-block;
			width: 25px;
			height: 25px;
			background: url(../images/star.svg) center center no-repeat;
			background-size: contain;

			&:hover {
				background-image: url(../images/star-active.svg);
			}

			&-active {
				background-image: url(../images/star-active.svg);
			}
		}

		&-add-basket {
			display: inline-block;
			width: 25px;
			height: 25px;
			background: url(../images/shopping-cart.svg) center center no-repeat;
			background-size: contain;

			&:hover {
				background-image: url(../images/shopping-cart-active.svg);
			}

			&-active {
				background-image: url(../images/shopping-cart-active.svg);
			}
		}

		&-buy {
			display: inline-block;
			width: 25px;
			height: 25px;
			background: url(../images/shopping-cart.svg) center center no-repeat;
			background-size: contain;

			&:hover {
				background-image: url(../images/shopping-cart-active.svg);
			}

			&-active {
				background-image: url(../images/shopping-cart-active.svg);
			}
		}
	}

	&__label {
		display: block;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;

		&-text {
			display: block;
			width: 100%;
			height: 45px;
			line-height: 45px;
			text-align: center;
			text-transform: uppercase;
			background-color: #4dc4dc;
			color: #ffffff;

			&_new {

			}

			&_action {
			}

			&_popular {
			}

			&_blackfriday {
			}

		}
	}
	&__rating{
		display:block;
		text-align:center;
		padding: 10px 0;
		font-size: 30px;
	}
}