.product-filter {

	&__hide {
		display: none;
	}

	&__popup-result {
		display: none;
		border-top: 1px solid #7d7d7d;
		font-size: 16px;
		padding: 10px;
		text-align: center;
		width: 100%;

		a {
			color: #717171;

			&:hover {
				color: #717171;
			}
		}
	}

	&__props {
		display: flex;
		flex-wrap: wrap;
	}

	&__item {
		display: inline-block;
		position: relative;
		margin-right: 40px;
		white-space: nowrap;

		&-size {
		}

		&-color {
		}

		&:hover {
			.product-filter__item-popup {
				display: block;
			}
		}

		&-title {
			font-size: 18px;
			color: #a4a4a4;
			display: inline-block;
			cursor: pointer;
		}

		&-current {
			font-size: 18px;
			color: #505050;
			padding: 0 20px 0 10px;
			cursor: pointer;
			background: url(../images/arrow-bottom.png) center right no-repeat;
			display: inline-block;
			white-space: nowrap;
		}

		&-popup {
			position: absolute;
			display: none;
			z-index: 10;
			left: 0;
			top: 100%;
			min-width: 100%;
			background-color: #ffffff;
			border-top: 1px solid #7d7d7d;
			-webkit-box-shadow: 1px 1px 10px 0px rgba(172, 172, 172, 0.75);
			-moz-box-shadow: 1px 1px 10px 0px rgba(172, 172, 172, 0.75);
			box-shadow: 1px 1px 10px 0px rgba(172, 172, 172, 0.75);
		}
	}

	&__param {
		&-list {
			padding: 10px;
			margin: 0;
			list-style: none;
			color: #717171;
			font-family: 'Proxima Nova Lt';
			font-size: 18px;
			white-space: nowrap;
		}

		&-item {
			padding: 0;
			margin: 0;
			list-style: none;
			display: flex;

			&.disabled {
				.product-filter__param {
					&-link {
						color: #cccccc;
					}
				}
			}
		}

		&-label {
			padding-right: 10px;
			flex-grow: 0;
		}

		&-checkbox {
		}

		&-link {
			flex-grow: 1;
			color: #717171;
			font-family: 'Proxima Nova Cn Lt';
			font-size: 18px;
			padding-right: 10px;
		}

		&-count {
			flex-grow: 0;
			color: #b6b6b6;
			font-size: 12px;
			padding-top: 5px;
		}
	}
}

@media (max-width: 991.99px) {
	.product-filter {
		&__props {
			flex-direction: column;
			flex-wrap: nowrap;
		}

		&__item {
			display: flex;
			position: relative;
			margin-right: 0;
			white-space: nowrap;
			background-color:#e8e8e8;
			padding: 6px 6px 6px 15px;
			margin-bottom: 10px;
			&-title {
				flex-basis: 50%;
				text-transform: uppercase;
			}

			&-current {
				background-color:#ffffff;
				flex-basis: 50%;
				background-position: calc(100% - 10px) center;
			}
		}
	}
	.block-content-right{
		justify-content: flex-start;
	}
}