.recomended-content {
	padding: 45px 0;
	background-color: #f8f8f8;
	margin-top: 45px;

	&__area {
		justify-content: center;
		padding: 0 0 30px 0;
		display: flex;
	}

	&__title {
		display: inline-block;
		background-color: #e55454;
		padding: 0 35px;

		h2 {
			padding: 0;
			margin: 0;
			color: #ffffff;
			text-transform: uppercase;
			font-size: 22px;
			line-height: 62px;
			font-family: 'Proxima Nova Th';
		}
	}
}