.tabsblock {
	&__title {
		&-list {
			display: flex;
			margin: 40px 0 20px 0;
			padding: 0;
			list-style: none;
		}

		&-item {
			padding: 0 0 10px 0;
			margin: 0 50px 0 0;
			list-style: none;
			cursor: pointer;
			font-size: 20px;
			color: #383838;
			text-transform: uppercase;

			&:hover {
				border-bottom: 1px solid #4dc4dc;
				padding-bottom: 9px;
			}

			&_active {
				border-bottom: 7px solid #4dc4dc;
				padding-bottom: 3px;
				&:hover {
					border-bottom: 7px solid #4dc4dc;
					padding-bottom: 3px;
				}
			}
		}
	}

	&__content {
		&-item {
			display: none;
			font-size:18px;
			color:#383838;
			font-family: 'Proxima Nova Rg';
			font-weight: normal;
			&_active {
				display: block;
			}
		}
	}
}
