.tabs {
	&__header {
		display: block;
		margin-bottom: 32px;
	}

	&-menu {
		list-style: none;
		padding: 0;
		margin: 0;
		display: flex;
		justify-content: center;

		&__item {
			list-style: none;
			padding: 0;
			margin: 0;

			&-link {
				line-height: 64px;
				display: inline-block;
				color: #e55454;
				font-family: 'Proxima Nova Th';
				font-weight: 800;
				padding: 0 50px;
				margin: 0 2px;

				&_active {
					color: #ffffff;
					background-color: #e55454;
				}

				&:hover {
					color: #ffffff;
					background-color: #e55454;
					text-decoration: none;
				}
			}
		}
	}

	&__content {
	}

	&__item {
		display: none;

		&_active {
			display: block;
		}
	}
}

@media (max-width: 575.99px) {
	.tabs {
		&-menu {
			&__item {
				&-link {
					padding: 0 20px;
				}
			}
		}
	}
}