a{
	&:hover{
		color:#00c2ed;
	}
}
.cart-icon{
	span{
		background-color:#0097dd;
	}
}
.mini-cart {
	ul {
		li{
			&:hover {
				.cart-icon{
					color:#00c2ed;
				}
			}
		}
	}
}
.cart-info {
	a{
		&:hover{
			color:#00c2ed;
		}
	}
}
.navigation {
	.dropdown-slide {
		.dropdown-menu {
			li {
				a{
					&:hover, &:active, &:focus{
						color:#00c2ed;
					}
				}
			}
		}
	}
}
.navigation {
	.navbar-nav {
		> li {
			> a{
				&:hover, &:active, &:focus{
					color:#00c2ed;
				}
			}
		}
	}
}
.button-one{
	&::before {
		background-color:#00c2ed;
	}
}
.sidebar-account {
	ul {
		> li{
			&:hover {
				a{
					color:#00c2ed;
				}
			}
		}
	}
}
.sidebar-social {
	ul {
		> li{
			&:hover{
				a{
					color:#00c2ed;
				}
			}
		}
	}
}
.nivo-directionNav {
	a{
		&:hover{
			&::after{
				border-left-color:#00c2ed;
			}
		}
	}
}
.section-title {
	.title-border{
		&::before {
			background-color:#0097dd;
		}
	}
}
.arrow-left-right{
	.slick-arrow{
		&:hover {
			background-color: #0097dd;
			border-color:#0097dd;
		}
	}
}

.product-action {
	a{
		&:hover {
			color: #00c2ed;
		}
	}
}
.tooltip {
	>.tooltip-inner {
		background-color: #0097dd;
	}
	.tooltip-arrow {
		border-top-color: #0097dd !important;
	}
}
.pro-price{
	color: #0097dd;
}
.pro-price-2{
	color: #0097dd;
}
.pro-rating {
	a{
		color: #0097dd;
	}
}
.quick-add-to-cart{
	.single_add_to_cart_button{
		&:hover{
			background-color: #0097dd !important;
		}
	}
}

.onsale{
	background-color: #0097dd;
}
.button-one{
	&.style-3{
		background-color: #0097dd;
		&::after{
			border-color: #0097dd;
		}
	}
}
.text-dark-red{
	color: #0097dd;
}

.tab-menu {
	li{
		&.active {
			a{
				color:#00c2ed;
			}
			&::before{
				background-color:#00c2ed;
			}
		}
	}
}

.post-date{
	border-color:#00c2ed;
}
.footer-title{
	&.title-border{
		&::before {
			background-color:#0097dd;
		}
	}
}
.footer-menu {
	li {
		a{
			&:hover{
				color:#00c2ed;
			}
		}
	}
}
#scrollUp{
	background-color:#00c2ed;
	&:hover{
		background-color:#0097dd;
	}
}

.product-cat {
	.treeview {
		li {
			> a{
				&.selected{
					color:#0097dd;
				}
				&:hover{
					color:#00c2ed;
				}
			}
			>ul{
				>li{
					>a{
						&:hover{
							color:#00c2ed;
						}
					}
				}
			}
		}
	}
}
.single-pro-tab-menu {
	ul {
		li.active {
			a{
				background-color:#0097dd;
			}
		}
	}
}
.single-sml-photo {
	.slick-current {
		img{
			border-color:#00c2ed;
		}
	}
}
.qtybutton{
	&:hover{
		color:#00c2ed;
	}
}

.single-pro-size ul li a:hover{

}
.single-pro-size {
	ul {
		li{
			&.active{
				a{
					background-color:#0097dd;
				}
			}
			a{
				&:hover{
					color:#00c2ed;
				}
			}
		}
	}
}
.breadcumbs {
	ul {
		li{
			&:hover{
				a{
					color:#00c2ed;
				}
			}
		}
	}
}
.widget-search {
	button{
		&:hover{
			color:#00c2ed;
		}
	}
}

.bx-filter {
	.bx-ui-slider-pricebar-v{
		background-color:#0097dd;
	}
	.bx-ui-slider-handle{
		border-color:#0097dd;
	}
}

.size-filter{
	ul{
		li{
			a{
				&:hover{
					background-color:#00c2ed;
				}
			}
			&.active{
				a{
					background-color:#0097dd;
				}
			}
		}
	}
}

.shop-tab {
	li{
		&.active {
			a{
				color:#00c2ed;
			}
		}
	}
}

.pagination {
	ul {
		li{
			&.active{
				a{
					color:#00c2ed;
				}
			}
			&:hover{
				a{
					color:#00c2ed;
				}
			}
		}
	}
}


.product-remove {
	i{
		&:hover{
			background-color:#0097dd;
		}
	}
}
.submit-button{
	background-color:#0097dd;
}
.payment-details {
	table {
		tr{
			&:last-child {
				td{
					color:#0097dd;
				}
			}
		}
	}
}

.checkout-form {
	.submit-button{
		&.btn-disabled{
			background-color:#cccccc;
		}
	}
}