@mixin mobile-xs{
    @media(max-width:400px){
        @content;
    }
}
@mixin mobile{
    @media(max-width:480px){
        @content;
    }
}
@mixin tablet{
    @media(max-width:768px){
        @content;
    }
}
@mixin desktop{
    @media(max-width:992px){
        @content;
    }
}
@mixin large-desktop{
    @media(max-width:1200px){
        @content;
    }
}

#panel{
	position: fixed;
	width: 100%;
	z-index: 1000000;
	bottom:0;
}
.menu-toggle{z-index:999999;}
.main-menu{z-index:999998;}

.pro-price-2{
	padding: 5px;
	background-color:#ffffff;
	top: 10px;
	right:10px;
}

.pro-price{
	&.old-price{
		color:#cccccc;
		font-size: 14px;
		text-decoration: line-through;
		margin-right: 15px;
	}
	i{
		color:#cccccc;
		font-size: 14px;
		text-decoration: line-through;
		margin-right: 10px;
		font-style: normal;
		display:block;
	}
}

.product-action a:first-of-type{
	margin-left: 12.5%;
}

.post-title{
	height:36px;
	overflow: hidden;
}
.pro-rating{
	/*
	i{
		color:#aaaaaa;
	}
	&:hover{
		i{
			color:#c87065;
		}
	}
	*/
}

.quick-add-to-cart {
	a.single_add_to_cart_button{
		margin-left:0;
	}
	.single_add_to_cart_button
	{
		line-height:40px;
	}
}

.mini-cart-brief{
	width:400px;
	.cart-info{
		width:250px;
	}
}
.pro-rating-floatright{
	.pro-rating{
		float:right;
	}
}
.shop-cart-table{
	.product-thumbnail {
		.product-info{
			width: calc(100% - 110px);
		}
	}
	.product-price{
		.oldprice{
			display:block;
			text-decoration: line-through;
			font-weight:bold;
			color:#ff0000;
			font-size:0.8em;
		}
	}
}

.location-block-wrapper{
	background: #f6f6f6 none repeat scroll 0 0;
	border: medium none;
	box-shadow: none;
	color: #999;
	height: 40px;
	margin-bottom: 15px;
	padding: 0 20px;
	transition: all 0.5s ease 0s;
	width: 100%;
	outline: none;
}

.panel-map{width:100%;height:300px;display:block;margin-top:20px;}
#mapDalliPickpont{width:100%;height:500px;display:block;margin:20px 0;}

.contact-details{
	h3{font-size:20px;}
	ul{
		margin: 5px 0 20px 0;
		li{
			list-style:disc;
			padding: 0 0 0 20px;
			margin-left:15px;
		}
	}
}

.kladr-error {color: #cb3e27;}
#kladr_autocomplete{
	ul {background-color: #fff;border: 1px solid #c4c4c4;color: #313131;display: block;margin: 0;max-height: 420px;min-width: 300px;overflow-x: hidden;overflow-y: auto;padding: 0;position: absolute;z-index: 9999;}
	li {display: list-item;list-style-type: none;margin: 0;overflow: hidden;padding: 8px 10px;text-overflow: ellipsis;white-space: nowrap;}
	li + li {border-top: 1px solid #ededed;}
	li:hover {background-color: #f2f2f2;cursor: pointer;}
	li.active {background-color: #e9e9e9;}
	a {text-decoration: none;}
	strong {color: #ff0000;}
	.spinner {background: rgba(0, 0, 0, 0) url("/bitrix/themes/.default/images/h2osport/spinner.png") no-repeat scroll center center;display: block;height: 16px;margin: 0;padding: 0;position: absolute;width: 16px;z-index: 9999;}
}
.checkout-form{
	.form-check{
		label{
			padding-left:10px;
			margin-bottom: 0;
		}
		.form-check__prop{
			padding-left:25px;
		}
		input[type="radio"]{
			vertical-align:top;
		}
		a{font-weight: bold;}
		margin-bottom:10px;
	}
	.submit-button{
		&.btn-disabled{
			cursor:default;
			background-color:#C8A165;
			color:#ffffff;
		}
	}
}

.b-order_paramname{
	display:block;
	margin-bottom:0;
}
.b-order_paramvalue{
	display:block;
	margin-bottom: 10px;
}

.single-pro-size{
	ul{
		li{
			a{
				padding: 0 10px;
				margin-right:1px;
			}
			&.active{
				a{
					color:#ffffff;
					background-color: #c8a165;
					padding: 0 10px;
				}
			}
		}
	}
}
.widget-title{
	.h4, h4{
		font-family: 'Lato', sans-serif;
		margin: 0;
		font-size:14px;
	}
}
.widget-info{
	&.product-cat{
		height:auto;
	}
}

.product-cat {
	.treeview {
		li {
			span {
				text-transform: none;
			}
			>ul {
				>li {
					>a {
						text-transform: none;
					}
				}
			}
			> a{
				&.selected{
					color:#c8a165;
				}
			}
		}
	}
}

.product-info{
	.quick-add-to-cart{
		.single_add_to_cart_button{
			margin-left:10px;
			padding: 0 20px;
		}
	}
}

.panel-widget{
	.panel-heading{
		padding: 0;
		border-bottom: 0 none;
		border-top-right-radius: 0;
		border-top-left-radius: 0;
	}
	.panel-body{
		padding: 0;
	}
	.price_slider_amount{
		padding: 0 15px;
	}
	.count{
		color:#cccccc;
		font-size:10px;
		padding-left:10px;
		float:right;
	}
	.bx-filter-param-line{
		&.disabled{
			display:none;
		}
	}
	.size-filter{
		.bx-filter-param-label{display:none;}
		ul {
			li{
				a{
					width:auto;
					min-width:34px;
					padding: 0 8px;
				}
			}
		}
	}
	.color-filter{
		.bx-filter-input-checkbox{display:none;}
	}
}

.navigation {
    margin-bottom:0;
    padding:10px 0;
    .menu-title {
        display:none;
        font-size:16px;
        @include mobile {
            display:inline-block;
            padding-left:10px;
        }
        @include tablet {
            display:inline-block;
            padding-left:10px;
        }
    }
    .navbar-nav > li {
        position: static;
        &.active {
            a {
                color:#C8A165;
            }
        }
        > a {
            color: #333;
            font-size: 15px;
            padding: 20px 10px;
            text-transform: uppercase;
            transition: .2s ease-in-out 0s;
            border:1px solid transparent;
            &:hover, &:active, &:focus{
                background: none;
                color: #C8A165;
            }
			@media (min-width:768px) and (max-width:991px) {
				font-size: 12px;
				padding: 20px 5px;
			}
        }
    }
    .container {
        position: relative;
    }

    .nav .open>a {
        border:1px solid transparent;
        background-color: transparent;
    }
    .navbar-nav {
        float: none;
        display: inline-block;
    }

    .dropdown-slide {
        .dropdown-menu {
            right: auto;
            left: 0px;
			width:100%;
            border:none;
			ul{
				padding: 0 0 20px 0;
			}
            li {
                a {
                    color: #222;
                    font-size: 12px;
                    /*border:1px solid transparent;*/
                    display: block;
                    padding: 2px 0;
                    /*letter-spacing: 0.5px;
                    text-transform: uppercase;*/
                    font-weight:200;
                    -webkit-transition: .3s all;
                    -o-transition: .3s all;
                    transition: .3s all;
                    &:hover {
                        /*background-color: #000000;*/
                        color:#C8A165;
                    }
                }

            }
        }
    }
}

@media (max-width: 480px) {
	.navigation .menu-title {
		display: inline-block;
		padding-left: 10px;
	}
}

@media (max-width: 768px) {
	.navigation .menu-title {
		display: inline-block;
		padding-left: 10px;
	}
	.menu{
		>.navbar{
			>.container{
				width:100%;
			}
		}
		.navbar-toggle {
			margin-top: 0px;
			padding-top: 4px;
			padding-bottom: 5px;
			.icon-bar{
				background-color:#000000;
			}
		}
	}
}

.dropdown-slide {
    position: static;
    .open>a, .open>a:focus, .open>a:hover {
        background: transparent;
    }
    &.full-width {
        .dropdown-menu {
            left:0!important;
            right:0!important;
        }
    }
	@media (min-width: 767px) {
		&:hover .dropdown-menu {
			opacity: 1;
			display: block;
			transform: translate(0px ,0px);
			visibility: visible;
			color: #777;
			transform: translateY(0px);
		}
	}
	@media (max-width: 768px) {
		&.open .dropdown-menu {
			opacity: 1;
			display: block;
			transform: translate(0px ,0px);
			visibility: visible;
			color: #777;
			transform: translateY(0px);
		}
	}
    .dropdown-menu {
        border-radius:0;
        opacity: 1;
        visibility: visible;
        position: absolute;
        padding: 15px 30px;
        border: 1px solid #ebebeb;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
        transition:.3s all;
        position: absolute;
        display: block;
        visibility: hidden;
        opacity: 0;
        transform: translateY(30px);
        transition: visibility 0.2s, opacity 0.2s, transform 500ms cubic-bezier(0.43, 0.26, 0.11, 0.99);
		background-color:#fcfcfc;
		@include mobile {
			transform:none;
		}
		.dropdown-header {
			padding: 3px 0 !important;
			font-size: 14px;
			white-space: normal;
		}
    }
}

.sticky .logo{
	width: 200px;
}
.post-date-2{
	padding: 12px 10px 10px 10px;
	min-width: 70px;
	width: auto;
}

.brands-area{
	.post-year{
		padding-left:0;
	}
}
.logo a img{
	max-height:70px;
}

.phones{
	padding: 30px 0 0 0;
	@media (max-width: 768px) {
		a{font-size:10px;}
	}
}
.detail-place-area{
	margin-top:20px;
	display:none;
}

.shop-content-description{
	background: #fff none;
	display: block;
	padding: 20px;
}

.product-price{
	&.old-price{
		color:#cccccc;
		font-size: 14px;
		text-decoration: line-through;
		margin-right: 15px;
		font-weight: normal;
	}
	i{
		color:#cccccc;
		font-size: 14px;
		text-decoration: line-through;
		margin-right: 10px;
		font-style: normal;
		display:block;
		font-weight: normal;
	}
}

.heading-banner-title {
	h1 {
		color: #fff;
		font-size: 45px;
		font-weight: 900;
		line-height: 33px;
		margin-bottom: 0;
		padding: 134px 0 101px;
		text-align: center;
		text-transform: uppercase;
	}
}

.banner-title-white{
	a{
		color:#ffffff;
	}
}

.social-icon {
	margin-top: 20px;
	ul {
		li {
			display: inline-block;
			margin-right: 10px;
			a {
				display: block;
				height: 30px;
				width: 30px;
				border: 0 С‚С‰С‚Сѓ;
				text-align: center;
				&:hover {
					i {
						color: #00c2ed;
					}
				}
				i {
					color: #000;
					display: inline-block;
					font-size: 20px;
					line-height: 30px;
					margin: 0;
				}
			}
		}
	}
}
@media (max-width: 400px) {
	.social-icon {
		ul {
			li {
				margin-bottom: 5px;
				margin-right: 5px;
			}
		}
	}
}


textarea.order-field {
	background: #f6f6f6 none repeat scroll 0 0;
	border: medium none;
	box-shadow: none;
	color: #999;
	height: 200px;
	margin-bottom: 15px;
	padding: 10px 20px;
	transition: all 0.5s ease 0s;
	width: 100%;
	outline: none;
}

#F_DELIVERY_DATE{
	display:none;
}
.ui-datepicker {
	td{
		text-align:center;
		a,span{
			text-align:center;
		}
	}
}

#b-showsizetable{
	border-bottom: 1px dotted #333333;
	margin: 5px 0 15px 0;
	display:inline-block;
	&:hover{
		border-color:#c8a165;
	}
}
.product-size-table{
	display:none;
}
.product-info{
	.quick-add-to-cart{
		.single_add_to_cart_button{
			&.b-detail-oneclick{
				border-bottom: 1px dotted #333333;
				display:inline-block;
				margin: 20px 0 10px 0;
				padding: 0;
				line-height: 20px;
				background-color: transparent;
				color: #333333;
				height: 20px;
				&:hover{
					border-color:#c8a165;
					background-color:transparent !important;
					color:#c8a165;
				}
			}
		}
	}
}

#popup-element-oneclick{
	display:none;
}

#onclickbuy-wrapper {
	.modal-dialog{
		margin: 100px auto;
	}
	.modal-content {
		border-radius: 0;
	}
}

.product-info{
	.slick-slide{
		p{
			font-size:0.85em;
			text-align: center;
			margin:0;
			padding:0;
		}
	}
}

#alphaDalliPickpont{
	.alpha-list{
		ul{
			display:flex;
			li{
				padding: 5px 10px;
				a{
					&.disabled{
						cursor:default;
						color:#cccccc;
					}
					&.selected{
						color:#00c2ed;
						font-weight:bold;
					}
				}
			}
		}
	}
	.alpha-cities{
		display:none;
		ul{
			width:100%;
			display:inline-flex;
			flex-wrap: wrap;
			flex-flow: row wrap;
			li{
				width:25%;
				padding: 5px 0;
				a{
					&.selected{
						color:#00c2ed;
						font-weight:bold;
					}
				}
			}
		}
	}
}

.b-pickup-list-content{
	width:100%;
	display:inline-flex;
	flex-wrap: wrap;
	flex-flow: row wrap;
	.b-pickup-list-item{
		width:33%;
		padding: 10px 20px 10px 0;
		border: 1px solid transparent;
		border-bottom: 1px solid #eeeeee;
		&.active{
			border-color:#cccccc;
		}
	}
}

#b-deliveryall__area{
	display:block;
}
#b-deliveryall__area-button{
	display:block;
}
#b-deliveryall__area-btn{

}
#b-deliveryall__area-content{
	display:none;
}
.header-area{
	.phones{
		a{
			font-weight:bold;
			font-size:14px;
		}
	}
}
.text-white{
	color:#ffffff;
}
.b-isred{
	color:#ff0000 !important;
}

.pagination-also{
	text-align:center;
	line-height: 30px;
	padding: 10px 0;
	a{
		line-height:2.5em;
		padding-left: 3em;
		background: url(../img/section.more.png) 0 center no-repeat;
		vertical-align: middle;
		display:inline-block;
	}
}
.pagination-also-loader{
	text-align:center;
	display:none;
	line-height: 30px;
	padding: 10px 0;
}
.pagination-also-area{
	margin-bottom: 30px;
}

.product-filter-area{
	background-color:#ffffff;
	padding: 20px 0;
	line-height:50px;
}

.bx-filter-horizontal{
	line-height: 20px;
	margin-bottom:0;
	.bx-filter-horizontal-props{
		display: flex;
		justify-content: center;
		align-content: space-between;
		align-items: center;
	}
	.shop-filter{
		position:relative;
		/*float:left;*/
		width:170px;
		max-width:170px;
		margin-right:30px;
		&.disabled{
			display:none;
		}
		.shop-filter-title{
			border:1px solid #cccccc;
			padding: 6px 12px;
			font-size: 14px;
			line-height: 1.42857143;
			.shop-filter-title-name{
				display:block;
				margin-right:20px;
				overflow:hidden;
			}
		}
		.shop-filter-info{
			position:absolute;
			display:none;
			width:170px;
			max-width:170px;
			max-height: 300px;
			overflow:auto;
			background-color:#ffffff;
			border:1px solid #0097dd;
			border-top: 0 none;
			z-index:100;
			top:33px;
			.shop-filter-info-body{
				ul{
					padding: 10px;
				}
			}
			&.size-filter{
				.shop-filter-info-body{
					ul{
						margin-bottom:10px;
					}
				}
			}
		}
		&:hover{
			.shop-filter-title{
				border-color:#0097dd;
			}
			.shop-filter-info{
				display:block;
			}
		}
	}
	.count{
		color:#cccccc;
		font-size:10px;
		padding-left:10px;
		float:right;
	}
	.bx-filter-param-line{
		&.disabled{
			display:none;
		}
	}
	.size-filter{
		.bx-filter-param-label{display:none;}
		ul {
			li{
				a{
					width:auto;
					min-width:34px;
					padding: 0 8px;
				}
			}
		}
	}
	.color-filter{
		.bx-filter-input-checkbox{display:none;}
	}
	.bx-filter-popup-result{
		position:static;
		border-width: 1px 0 0 0 !important;
		-webkit-border-image: none !important;
		-moz-border-image: none !important;
		-o-border-image: none !important;
		border-image: none !important;
		padding: 10px !important;
		border-top: 1px solid #cccccc !important;
		margin:0;
		width:100%;
	}
}

.pro-label.black-label {
	background: #000000 none repeat scroll 0 0;
	color: #ffffff;
}

.row-set-product{
	padding: 10px 0 10px 0;
	border-bottom: 1px solid #cccccc;
	&:last-of-type{
		border-bottom: 0 none;
	}
}
.row-set-product-sku{
	.col-price{
		.pro-price{
			display:none;
			white-space:noweap;
			.set-price-cnt{
				font-weight: normal;
				font-size: 14px;
				color:#cccccc;
			}
		}
	}
	&.selected{
		.col-price{
			.pro-price{
				display:block;
			}
		}
	}
}

.b-detail-add-basket-set{
	margin: 0 auto !important;
	width: 300px;
	display: block;
	float:none !important;
}


.blog-details-info{
	blockquote{
		font-weight:normal;
		font-size:12px;
	}
}


.presale-note{
	font-weight:bold;
	font-size:1.1em;
}

.presale-text{
	font-style: italic;
}
.listdot{
	list-style: disc;
	margin: 10px 0 10px 12px;
	li{
		list-style: disc;
	}
}